.bg-blue {
  background: #2b66b9;
}
.bg-green {
  background: #7bc520;
}
.bg-red {
  background: #e82726;
}
.bg-pink {
  background: #f51d58;
}
.bg-orange {
  background: #f5a628;
}
.bg-yellow {
  background: #f5a623;
}
.bg-purple {
  background: #7f3f98;
}
.bg-darker-gray {
  background: #272f36;
}
.bg-dark-gray {
  background: #55626c;
}
.bg-gray {
  background: #c2c8ce;
}
.bg-black {
  background: #000;
}
.bg-white {
  background: #fff;
}
.bg-light-gray {
  background: #e9e9e9;
}
.ft-c-blue {
  color: #2b66b9;
}
.ft-c-green {
  color: #7bc520;
}
.ft-c-red {
  color: #e82726;
}
.ft-c-pink {
  color: #f51d58;
}
.ft-c-orange {
  color: #f5a628;
}
.ft-c-yellow {
  color: #f5a623;
}
.ft-c-purple {
  color: #7f3f98;
}
.ft-c-darker-gray {
  color: #272f36;
}
.ft-c-dark-gray {
  color: #55626c;
}
.ft-c-gray {
  color: #c2c8ce;
}
.ft-c-black {
  color: #000;
}
.ft-c-white {
  color: #fff;
}
.ft-c-light-gray {
  color: #e9e9e9;
}
.ft-s-6 {
  font-size: 6px;
}
.ft-s-7 {
  font-size: 7px;
}
.ft-s-8 {
  font-size: 8px;
}
.ft-s-9 {
  font-size: 9px;
}
.ft-s-10 {
  font-size: 10px;
}
.ft-s-11 {
  font-size: 11px;
}
.ft-s-12 {
  font-size: 12px;
}
.ft-s-13 {
  font-size: 13px;
}
.ft-s-14 {
  font-size: 14px;
}
.ft-s-15 {
  font-size: 15px;
}
.ft-s-16 {
  font-size: 16px;
}
.ft-s-17 {
  font-size: 17px;
}
.ft-s-18 {
  font-size: 18px;
}
.ft-s-19 {
  font-size: 19px;
}
.ft-s-20 {
  font-size: 20px;
}
.ft-s-21 {
  font-size: 21px;
}
.ft-s-22 {
  font-size: 22px;
}
.ft-s-23 {
  font-size: 23px;
}
.ft-s-24 {
  font-size: 24px;
}
.ft-s-25 {
  font-size: 25px;
}
.ft-s-26 {
  font-size: 26px;
}
.ft-s-27 {
  font-size: 27px;
}
.ft-s-28 {
  font-size: 28px;
}
.ft-s-29 {
  font-size: 29px;
}
.ft-s-30 {
  font-size: 30px;
}
.ft-s-31 {
  font-size: 31px;
}
.ft-s-32 {
  font-size: 32px;
}
.ft-s-33 {
  font-size: 33px;
}
.ft-s-34 {
  font-size: 34px;
}
.ft-s-35 {
  font-size: 35px;
}
.ft-s-36 {
  font-size: 36px;
}
.ft-s-37 {
  font-size: 37px;
}
.ft-s-38 {
  font-size: 38px;
}
.ft-s-39 {
  font-size: 39px;
}
.ft-s-40 {
  font-size: 40px;
}
.ft-s-41 {
  font-size: 41px;
}
.ft-s-42 {
  font-size: 42px;
}
.ft-s-43 {
  font-size: 43px;
}
.ft-s-44 {
  font-size: 44px;
}
.ft-s-45 {
  font-size: 45px;
}
.ft-s-46 {
  font-size: 46px;
}
.ft-s-47 {
  font-size: 47px;
}
.ft-s-48 {
  font-size: 48px;
}
.ft-s-49 {
  font-size: 49px;
}
.ft-s-50 {
  font-size: 50px;
}
.ft-s-51 {
  font-size: 51px;
}
.ft-s-52 {
  font-size: 52px;
}
.ft-s-53 {
  font-size: 53px;
}
.ft-s-54 {
  font-size: 54px;
}
.ft-s-55 {
  font-size: 55px;
}
.ft-s-56 {
  font-size: 56px;
}
.ft-s-57 {
  font-size: 57px;
}
.ft-s-58 {
  font-size: 58px;
}
.ft-s-59 {
  font-size: 59px;
}
.ft-s-60 {
  font-size: 60px;
}
.ft-w-n {
  font-weight: normal;
}
.ft-w-b {
  font-weight: bold;
}
.ft-w-sb {
  font-weight: bolder;
}
.ft-w-l {
  font-weight: lighter;
}
.ft-w-100 {
  font-weight: 100;
}
.ft-w-200 {
  font-weight: 200;
}
.ft-w-300 {
  font-weight: 300;
}
.ft-w-400 {
  font-weight: 400;
}
.ft-w-500 {
  font-weight: 500;
}
.ft-w-600 {
  font-weight: 600;
}
.ft-w-700 {
  font-weight: 700;
}
.ft-w-800 {
  font-weight: 800;
}
.ft-w-900 {
  font-weight: 900;
}
.l-h-0 {
  line-height: normal;
}
.l-h-10 {
  line-height: 10px;
}
.l-h-12 {
  line-height: 12px;
}
.l-h-14 {
  line-height: 14px;
}
.l-h-16 {
  line-height: 16px;
}
.l-h-18 {
  line-height: 18px;
}
.l-h-20 {
  line-height: 20px;
}
.l-h-22 {
  line-height: 22px;
}
.l-h-24 {
  line-height: 24px;
}
.l-h-26 {
  line-height: 26px;
}
.l-h-28 {
  line-height: 28px;
}
.l-h-30 {
  line-height: 30px;
}
.l-h-32 {
  line-height: 32px;
}
.l-h-34 {
  line-height: 34px;
}
.l-h-36 {
  line-height: 36px;
}
.l-h-38 {
  line-height: 38px;
}
.l-h-40 {
  line-height: 40px;
}
.l-h-42 {
  line-height: 42px;
}
.l-h-44 {
  line-height: 44px;
}
.l-h-46 {
  line-height: 46px;
}
.l-h-48 {
  line-height: 48px;
}
.l-h-50 {
  line-height: 50px;
}
.l-s-0 {
  letter-spacing: normal;
}
.l-s-1 {
  letter-spacing: 1px;
}
.l-s-2 {
  letter-spacing: 2px;
}
.l-s-3 {
  letter-spacing: 3px;
}
.l-s-4 {
  letter-spacing: 4px;
}
.l-s-5 {
  letter-spacing: 5px;
}
.m-t-0,
.m-h-0,
.m-0 {
  margin-top: 0px;
}
.m-t-n-0,
.m-h-n-0,
.m-n-0 {
  margin-top: 0px;
}
.m-b-0,
.m-h-0,
.m-0 {
  margin-bottom: 0px;
}
.m-b-n-0,
.m-h-n-0,
.m-n-0 {
  margin-bottom: 0px;
}
.m-r-0,
.m-w-0,
.m-0 {
  margin-right: 0px;
}
.m-r-n-0,
.m-w-n-0,
.m-n-0 {
  margin-right: 0px;
}
.m-l-0,
.m-w-0,
.m-0 {
  margin-left: 0px;
}
.m-l-n-0,
.m-w-n-0,
.m-n-0 {
  margin-left: 0px;
}
.m-t-5,
.m-h-5,
.m-5 {
  margin-top: 5px;
}
.m-t-n-5,
.m-h-n-5,
.m-n-5 {
  margin-top: -5px;
}
.m-b-5,
.m-h-5,
.m-5 {
  margin-bottom: 5px;
}
.m-b-n-5,
.m-h-n-5,
.m-n-5 {
  margin-bottom: -5px;
}
.m-r-5,
.m-w-5,
.m-5 {
  margin-right: 5px;
}
.m-r-n-5,
.m-w-n-5,
.m-n-5 {
  margin-right: -5px;
}
.m-l-5,
.m-w-5,
.m-5 {
  margin-left: 5px;
}
.m-l-n-5,
.m-w-n-5,
.m-n-5 {
  margin-left: -5px;
}
.m-t-10,
.m-h-10,
.m-10 {
  margin-top: 10px;
}
.m-t-n-10,
.m-h-n-10,
.m-n-10 {
  margin-top: -10px;
}
.m-b-10,
.m-h-10,
.m-10 {
  margin-bottom: 10px;
}
.m-b-n-10,
.m-h-n-10,
.m-n-10 {
  margin-bottom: -10px;
}
.m-r-10,
.m-w-10,
.m-10 {
  margin-right: 10px;
}
.m-r-n-10,
.m-w-n-10,
.m-n-10 {
  margin-right: -10px;
}
.m-l-10,
.m-w-10,
.m-10 {
  margin-left: 10px;
}
.m-l-n-10,
.m-w-n-10,
.m-n-10 {
  margin-left: -10px;
}
.m-t-15,
.m-h-15,
.m-15 {
  margin-top: 15px;
}
.m-t-n-15,
.m-h-n-15,
.m-n-15 {
  margin-top: -15px;
}
.m-b-15,
.m-h-15,
.m-15 {
  margin-bottom: 15px;
}
.m-b-n-15,
.m-h-n-15,
.m-n-15 {
  margin-bottom: -15px;
}
.m-r-15,
.m-w-15,
.m-15 {
  margin-right: 15px;
}
.m-r-n-15,
.m-w-n-15,
.m-n-15 {
  margin-right: -15px;
}
.m-l-15,
.m-w-15,
.m-15 {
  margin-left: 15px;
}
.m-l-n-15,
.m-w-n-15,
.m-n-15 {
  margin-left: -15px;
}
.m-t-20,
.m-h-20,
.m-20 {
  margin-top: 20px;
}
.m-t-n-20,
.m-h-n-20,
.m-n-20 {
  margin-top: -20px;
}
.m-b-20,
.m-h-20,
.m-20 {
  margin-bottom: 20px;
}
.m-b-n-20,
.m-h-n-20,
.m-n-20 {
  margin-bottom: -20px;
}
.m-r-20,
.m-w-20,
.m-20 {
  margin-right: 20px;
}
.m-r-n-20,
.m-w-n-20,
.m-n-20 {
  margin-right: -20px;
}
.m-l-20,
.m-w-20,
.m-20 {
  margin-left: 20px;
}
.m-l-n-20,
.m-w-n-20,
.m-n-20 {
  margin-left: -20px;
}
.m-t-25,
.m-h-25,
.m-25 {
  margin-top: 25px;
}
.m-t-n-25,
.m-h-n-25,
.m-n-25 {
  margin-top: -25px;
}
.m-b-25,
.m-h-25,
.m-25 {
  margin-bottom: 25px;
}
.m-b-n-25,
.m-h-n-25,
.m-n-25 {
  margin-bottom: -25px;
}
.m-r-25,
.m-w-25,
.m-25 {
  margin-right: 25px;
}
.m-r-n-25,
.m-w-n-25,
.m-n-25 {
  margin-right: -25px;
}
.m-l-25,
.m-w-25,
.m-25 {
  margin-left: 25px;
}
.m-l-n-25,
.m-w-n-25,
.m-n-25 {
  margin-left: -25px;
}
.m-t-30,
.m-h-30,
.m-30 {
  margin-top: 30px;
}
.m-t-n-30,
.m-h-n-30,
.m-n-30 {
  margin-top: -30px;
}
.m-b-30,
.m-h-30,
.m-30 {
  margin-bottom: 30px;
}
.m-b-n-30,
.m-h-n-30,
.m-n-30 {
  margin-bottom: -30px;
}
.m-r-30,
.m-w-30,
.m-30 {
  margin-right: 30px;
}
.m-r-n-30,
.m-w-n-30,
.m-n-30 {
  margin-right: -30px;
}
.m-l-30,
.m-w-30,
.m-30 {
  margin-left: 30px;
}
.m-l-n-30,
.m-w-n-30,
.m-n-30 {
  margin-left: -30px;
}
.m-t-35,
.m-h-35,
.m-35 {
  margin-top: 35px;
}
.m-t-n-35,
.m-h-n-35,
.m-n-35 {
  margin-top: -35px;
}
.m-b-35,
.m-h-35,
.m-35 {
  margin-bottom: 35px;
}
.m-b-n-35,
.m-h-n-35,
.m-n-35 {
  margin-bottom: -35px;
}
.m-r-35,
.m-w-35,
.m-35 {
  margin-right: 35px;
}
.m-r-n-35,
.m-w-n-35,
.m-n-35 {
  margin-right: -35px;
}
.m-l-35,
.m-w-35,
.m-35 {
  margin-left: 35px;
}
.m-l-n-35,
.m-w-n-35,
.m-n-35 {
  margin-left: -35px;
}
.m-t-40,
.m-h-40,
.m-40 {
  margin-top: 40px;
}
.m-t-n-40,
.m-h-n-40,
.m-n-40 {
  margin-top: -40px;
}
.m-b-40,
.m-h-40,
.m-40 {
  margin-bottom: 40px;
}
.m-b-n-40,
.m-h-n-40,
.m-n-40 {
  margin-bottom: -40px;
}
.m-r-40,
.m-w-40,
.m-40 {
  margin-right: 40px;
}
.m-r-n-40,
.m-w-n-40,
.m-n-40 {
  margin-right: -40px;
}
.m-l-40,
.m-w-40,
.m-40 {
  margin-left: 40px;
}
.m-l-n-40,
.m-w-n-40,
.m-n-40 {
  margin-left: -40px;
}
.m-t-45,
.m-h-45,
.m-45 {
  margin-top: 45px;
}
.m-t-n-45,
.m-h-n-45,
.m-n-45 {
  margin-top: -45px;
}
.m-b-45,
.m-h-45,
.m-45 {
  margin-bottom: 45px;
}
.m-b-n-45,
.m-h-n-45,
.m-n-45 {
  margin-bottom: -45px;
}
.m-r-45,
.m-w-45,
.m-45 {
  margin-right: 45px;
}
.m-r-n-45,
.m-w-n-45,
.m-n-45 {
  margin-right: -45px;
}
.m-l-45,
.m-w-45,
.m-45 {
  margin-left: 45px;
}
.m-l-n-45,
.m-w-n-45,
.m-n-45 {
  margin-left: -45px;
}
.m-t-50,
.m-h-50,
.m-50 {
  margin-top: 50px;
}
.m-t-n-50,
.m-h-n-50,
.m-n-50 {
  margin-top: -50px;
}
.m-b-50,
.m-h-50,
.m-50 {
  margin-bottom: 50px;
}
.m-b-n-50,
.m-h-n-50,
.m-n-50 {
  margin-bottom: -50px;
}
.m-r-50,
.m-w-50,
.m-50 {
  margin-right: 50px;
}
.m-r-n-50,
.m-w-n-50,
.m-n-50 {
  margin-right: -50px;
}
.m-l-50,
.m-w-50,
.m-50 {
  margin-left: 50px;
}
.m-l-n-50,
.m-w-n-50,
.m-n-50 {
  margin-left: -50px;
}
.m-t-55,
.m-h-55,
.m-55 {
  margin-top: 55px;
}
.m-t-n-55,
.m-h-n-55,
.m-n-55 {
  margin-top: -55px;
}
.m-b-55,
.m-h-55,
.m-55 {
  margin-bottom: 55px;
}
.m-b-n-55,
.m-h-n-55,
.m-n-55 {
  margin-bottom: -55px;
}
.m-r-55,
.m-w-55,
.m-55 {
  margin-right: 55px;
}
.m-r-n-55,
.m-w-n-55,
.m-n-55 {
  margin-right: -55px;
}
.m-l-55,
.m-w-55,
.m-55 {
  margin-left: 55px;
}
.m-l-n-55,
.m-w-n-55,
.m-n-55 {
  margin-left: -55px;
}
.m-t-60,
.m-h-60,
.m-60 {
  margin-top: 60px;
}
.m-t-n-60,
.m-h-n-60,
.m-n-60 {
  margin-top: -60px;
}
.m-b-60,
.m-h-60,
.m-60 {
  margin-bottom: 60px;
}
.m-b-n-60,
.m-h-n-60,
.m-n-60 {
  margin-bottom: -60px;
}
.m-r-60,
.m-w-60,
.m-60 {
  margin-right: 60px;
}
.m-r-n-60,
.m-w-n-60,
.m-n-60 {
  margin-right: -60px;
}
.m-l-60,
.m-w-60,
.m-60 {
  margin-left: 60px;
}
.m-l-n-60,
.m-w-n-60,
.m-n-60 {
  margin-left: -60px;
}
.m-t-65,
.m-h-65,
.m-65 {
  margin-top: 65px;
}
.m-t-n-65,
.m-h-n-65,
.m-n-65 {
  margin-top: -65px;
}
.m-b-65,
.m-h-65,
.m-65 {
  margin-bottom: 65px;
}
.m-b-n-65,
.m-h-n-65,
.m-n-65 {
  margin-bottom: -65px;
}
.m-r-65,
.m-w-65,
.m-65 {
  margin-right: 65px;
}
.m-r-n-65,
.m-w-n-65,
.m-n-65 {
  margin-right: -65px;
}
.m-l-65,
.m-w-65,
.m-65 {
  margin-left: 65px;
}
.m-l-n-65,
.m-w-n-65,
.m-n-65 {
  margin-left: -65px;
}
.m-t-70,
.m-h-70,
.m-70 {
  margin-top: 70px;
}
.m-t-n-70,
.m-h-n-70,
.m-n-70 {
  margin-top: -70px;
}
.m-b-70,
.m-h-70,
.m-70 {
  margin-bottom: 70px;
}
.m-b-n-70,
.m-h-n-70,
.m-n-70 {
  margin-bottom: -70px;
}
.m-r-70,
.m-w-70,
.m-70 {
  margin-right: 70px;
}
.m-r-n-70,
.m-w-n-70,
.m-n-70 {
  margin-right: -70px;
}
.m-l-70,
.m-w-70,
.m-70 {
  margin-left: 70px;
}
.m-l-n-70,
.m-w-n-70,
.m-n-70 {
  margin-left: -70px;
}
.m-t-75,
.m-h-75,
.m-75 {
  margin-top: 75px;
}
.m-t-n-75,
.m-h-n-75,
.m-n-75 {
  margin-top: -75px;
}
.m-b-75,
.m-h-75,
.m-75 {
  margin-bottom: 75px;
}
.m-b-n-75,
.m-h-n-75,
.m-n-75 {
  margin-bottom: -75px;
}
.m-r-75,
.m-w-75,
.m-75 {
  margin-right: 75px;
}
.m-r-n-75,
.m-w-n-75,
.m-n-75 {
  margin-right: -75px;
}
.m-l-75,
.m-w-75,
.m-75 {
  margin-left: 75px;
}
.m-l-n-75,
.m-w-n-75,
.m-n-75 {
  margin-left: -75px;
}
.m-t-80,
.m-h-80,
.m-80 {
  margin-top: 80px;
}
.m-t-n-80,
.m-h-n-80,
.m-n-80 {
  margin-top: -80px;
}
.m-b-80,
.m-h-80,
.m-80 {
  margin-bottom: 80px;
}
.m-b-n-80,
.m-h-n-80,
.m-n-80 {
  margin-bottom: -80px;
}
.m-r-80,
.m-w-80,
.m-80 {
  margin-right: 80px;
}
.m-r-n-80,
.m-w-n-80,
.m-n-80 {
  margin-right: -80px;
}
.m-l-80,
.m-w-80,
.m-80 {
  margin-left: 80px;
}
.m-l-n-80,
.m-w-n-80,
.m-n-80 {
  margin-left: -80px;
}
.m-t-85,
.m-h-85,
.m-85 {
  margin-top: 85px;
}
.m-t-n-85,
.m-h-n-85,
.m-n-85 {
  margin-top: -85px;
}
.m-b-85,
.m-h-85,
.m-85 {
  margin-bottom: 85px;
}
.m-b-n-85,
.m-h-n-85,
.m-n-85 {
  margin-bottom: -85px;
}
.m-r-85,
.m-w-85,
.m-85 {
  margin-right: 85px;
}
.m-r-n-85,
.m-w-n-85,
.m-n-85 {
  margin-right: -85px;
}
.m-l-85,
.m-w-85,
.m-85 {
  margin-left: 85px;
}
.m-l-n-85,
.m-w-n-85,
.m-n-85 {
  margin-left: -85px;
}
.m-t-90,
.m-h-90,
.m-90 {
  margin-top: 90px;
}
.m-t-n-90,
.m-h-n-90,
.m-n-90 {
  margin-top: -90px;
}
.m-b-90,
.m-h-90,
.m-90 {
  margin-bottom: 90px;
}
.m-b-n-90,
.m-h-n-90,
.m-n-90 {
  margin-bottom: -90px;
}
.m-r-90,
.m-w-90,
.m-90 {
  margin-right: 90px;
}
.m-r-n-90,
.m-w-n-90,
.m-n-90 {
  margin-right: -90px;
}
.m-l-90,
.m-w-90,
.m-90 {
  margin-left: 90px;
}
.m-l-n-90,
.m-w-n-90,
.m-n-90 {
  margin-left: -90px;
}
.m-t-95,
.m-h-95,
.m-95 {
  margin-top: 95px;
}
.m-t-n-95,
.m-h-n-95,
.m-n-95 {
  margin-top: -95px;
}
.m-b-95,
.m-h-95,
.m-95 {
  margin-bottom: 95px;
}
.m-b-n-95,
.m-h-n-95,
.m-n-95 {
  margin-bottom: -95px;
}
.m-r-95,
.m-w-95,
.m-95 {
  margin-right: 95px;
}
.m-r-n-95,
.m-w-n-95,
.m-n-95 {
  margin-right: -95px;
}
.m-l-95,
.m-w-95,
.m-95 {
  margin-left: 95px;
}
.m-l-n-95,
.m-w-n-95,
.m-n-95 {
  margin-left: -95px;
}
.m-t-100,
.m-h-100,
.m-100 {
  margin-top: 100px;
}
.m-t-n-100,
.m-h-n-100,
.m-n-100 {
  margin-top: -100px;
}
.m-b-100,
.m-h-100,
.m-100 {
  margin-bottom: 100px;
}
.m-b-n-100,
.m-h-n-100,
.m-n-100 {
  margin-bottom: -100px;
}
.m-r-100,
.m-w-100,
.m-100 {
  margin-right: 100px;
}
.m-r-n-100,
.m-w-n-100,
.m-n-100 {
  margin-right: -100px;
}
.m-l-100,
.m-w-100,
.m-100 {
  margin-left: 100px;
}
.m-l-n-100,
.m-w-n-100,
.m-n-100 {
  margin-left: -100px;
}
.m-t-105,
.m-h-105,
.m-105 {
  margin-top: 105px;
}
.m-t-n-105,
.m-h-n-105,
.m-n-105 {
  margin-top: -105px;
}
.m-b-105,
.m-h-105,
.m-105 {
  margin-bottom: 105px;
}
.m-b-n-105,
.m-h-n-105,
.m-n-105 {
  margin-bottom: -105px;
}
.m-r-105,
.m-w-105,
.m-105 {
  margin-right: 105px;
}
.m-r-n-105,
.m-w-n-105,
.m-n-105 {
  margin-right: -105px;
}
.m-l-105,
.m-w-105,
.m-105 {
  margin-left: 105px;
}
.m-l-n-105,
.m-w-n-105,
.m-n-105 {
  margin-left: -105px;
}
.m-t-110,
.m-h-110,
.m-110 {
  margin-top: 110px;
}
.m-t-n-110,
.m-h-n-110,
.m-n-110 {
  margin-top: -110px;
}
.m-b-110,
.m-h-110,
.m-110 {
  margin-bottom: 110px;
}
.m-b-n-110,
.m-h-n-110,
.m-n-110 {
  margin-bottom: -110px;
}
.m-r-110,
.m-w-110,
.m-110 {
  margin-right: 110px;
}
.m-r-n-110,
.m-w-n-110,
.m-n-110 {
  margin-right: -110px;
}
.m-l-110,
.m-w-110,
.m-110 {
  margin-left: 110px;
}
.m-l-n-110,
.m-w-n-110,
.m-n-110 {
  margin-left: -110px;
}
.m-t-115,
.m-h-115,
.m-115 {
  margin-top: 115px;
}
.m-t-n-115,
.m-h-n-115,
.m-n-115 {
  margin-top: -115px;
}
.m-b-115,
.m-h-115,
.m-115 {
  margin-bottom: 115px;
}
.m-b-n-115,
.m-h-n-115,
.m-n-115 {
  margin-bottom: -115px;
}
.m-r-115,
.m-w-115,
.m-115 {
  margin-right: 115px;
}
.m-r-n-115,
.m-w-n-115,
.m-n-115 {
  margin-right: -115px;
}
.m-l-115,
.m-w-115,
.m-115 {
  margin-left: 115px;
}
.m-l-n-115,
.m-w-n-115,
.m-n-115 {
  margin-left: -115px;
}
.m-t-120,
.m-h-120,
.m-120 {
  margin-top: 120px;
}
.m-t-n-120,
.m-h-n-120,
.m-n-120 {
  margin-top: -120px;
}
.m-b-120,
.m-h-120,
.m-120 {
  margin-bottom: 120px;
}
.m-b-n-120,
.m-h-n-120,
.m-n-120 {
  margin-bottom: -120px;
}
.m-r-120,
.m-w-120,
.m-120 {
  margin-right: 120px;
}
.m-r-n-120,
.m-w-n-120,
.m-n-120 {
  margin-right: -120px;
}
.m-l-120,
.m-w-120,
.m-120 {
  margin-left: 120px;
}
.m-l-n-120,
.m-w-n-120,
.m-n-120 {
  margin-left: -120px;
}
.m-t-125,
.m-h-125,
.m-125 {
  margin-top: 125px;
}
.m-t-n-125,
.m-h-n-125,
.m-n-125 {
  margin-top: -125px;
}
.m-b-125,
.m-h-125,
.m-125 {
  margin-bottom: 125px;
}
.m-b-n-125,
.m-h-n-125,
.m-n-125 {
  margin-bottom: -125px;
}
.m-r-125,
.m-w-125,
.m-125 {
  margin-right: 125px;
}
.m-r-n-125,
.m-w-n-125,
.m-n-125 {
  margin-right: -125px;
}
.m-l-125,
.m-w-125,
.m-125 {
  margin-left: 125px;
}
.m-l-n-125,
.m-w-n-125,
.m-n-125 {
  margin-left: -125px;
}
.m-t-130,
.m-h-130,
.m-130 {
  margin-top: 130px;
}
.m-t-n-130,
.m-h-n-130,
.m-n-130 {
  margin-top: -130px;
}
.m-b-130,
.m-h-130,
.m-130 {
  margin-bottom: 130px;
}
.m-b-n-130,
.m-h-n-130,
.m-n-130 {
  margin-bottom: -130px;
}
.m-r-130,
.m-w-130,
.m-130 {
  margin-right: 130px;
}
.m-r-n-130,
.m-w-n-130,
.m-n-130 {
  margin-right: -130px;
}
.m-l-130,
.m-w-130,
.m-130 {
  margin-left: 130px;
}
.m-l-n-130,
.m-w-n-130,
.m-n-130 {
  margin-left: -130px;
}
.m-t-135,
.m-h-135,
.m-135 {
  margin-top: 135px;
}
.m-t-n-135,
.m-h-n-135,
.m-n-135 {
  margin-top: -135px;
}
.m-b-135,
.m-h-135,
.m-135 {
  margin-bottom: 135px;
}
.m-b-n-135,
.m-h-n-135,
.m-n-135 {
  margin-bottom: -135px;
}
.m-r-135,
.m-w-135,
.m-135 {
  margin-right: 135px;
}
.m-r-n-135,
.m-w-n-135,
.m-n-135 {
  margin-right: -135px;
}
.m-l-135,
.m-w-135,
.m-135 {
  margin-left: 135px;
}
.m-l-n-135,
.m-w-n-135,
.m-n-135 {
  margin-left: -135px;
}
.m-t-140,
.m-h-140,
.m-140 {
  margin-top: 140px;
}
.m-t-n-140,
.m-h-n-140,
.m-n-140 {
  margin-top: -140px;
}
.m-b-140,
.m-h-140,
.m-140 {
  margin-bottom: 140px;
}
.m-b-n-140,
.m-h-n-140,
.m-n-140 {
  margin-bottom: -140px;
}
.m-r-140,
.m-w-140,
.m-140 {
  margin-right: 140px;
}
.m-r-n-140,
.m-w-n-140,
.m-n-140 {
  margin-right: -140px;
}
.m-l-140,
.m-w-140,
.m-140 {
  margin-left: 140px;
}
.m-l-n-140,
.m-w-n-140,
.m-n-140 {
  margin-left: -140px;
}
.m-t-145,
.m-h-145,
.m-145 {
  margin-top: 145px;
}
.m-t-n-145,
.m-h-n-145,
.m-n-145 {
  margin-top: -145px;
}
.m-b-145,
.m-h-145,
.m-145 {
  margin-bottom: 145px;
}
.m-b-n-145,
.m-h-n-145,
.m-n-145 {
  margin-bottom: -145px;
}
.m-r-145,
.m-w-145,
.m-145 {
  margin-right: 145px;
}
.m-r-n-145,
.m-w-n-145,
.m-n-145 {
  margin-right: -145px;
}
.m-l-145,
.m-w-145,
.m-145 {
  margin-left: 145px;
}
.m-l-n-145,
.m-w-n-145,
.m-n-145 {
  margin-left: -145px;
}
.m-t-150,
.m-h-150,
.m-150 {
  margin-top: 150px;
}
.m-t-n-150,
.m-h-n-150,
.m-n-150 {
  margin-top: -150px;
}
.m-b-150,
.m-h-150,
.m-150 {
  margin-bottom: 150px;
}
.m-b-n-150,
.m-h-n-150,
.m-n-150 {
  margin-bottom: -150px;
}
.m-r-150,
.m-w-150,
.m-150 {
  margin-right: 150px;
}
.m-r-n-150,
.m-w-n-150,
.m-n-150 {
  margin-right: -150px;
}
.m-l-150,
.m-w-150,
.m-150 {
  margin-left: 150px;
}
.m-l-n-150,
.m-w-n-150,
.m-n-150 {
  margin-left: -150px;
}
.p-t-0,
.p-h-0,
.p-0 {
  padding-top: 0px;
}
.p-t-n-0,
.p-h-n-0,
.p-n-0 {
  padding-top: 0px;
}
.p-b-0,
.p-h-0,
.p-0 {
  padding-bottom: 0px;
}
.p-b-n-0,
.p-h-n-0,
.p-n-0 {
  padding-bottom: 0px;
}
.p-r-0,
.p-w-0,
.p-0 {
  padding-right: 0px;
}
.p-r-n-0,
.p-w-n-0,
.p-n-0 {
  padding-right: 0px;
}
.p-l-0,
.p-w-0,
.p-0 {
  padding-left: 0px;
}
.p-l-n-0,
.p-w-n-0,
.p-n-0 {
  padding-left: 0px;
}
.p-t-5,
.p-h-5,
.p-5 {
  padding-top: 5px;
}
.p-t-n-5,
.p-h-n-5,
.p-n-5 {
  padding-top: -5px;
}
.p-b-5,
.p-h-5,
.p-5 {
  padding-bottom: 5px;
}
.p-b-n-5,
.p-h-n-5,
.p-n-5 {
  padding-bottom: -5px;
}
.p-r-5,
.p-w-5,
.p-5 {
  padding-right: 5px;
}
.p-r-n-5,
.p-w-n-5,
.p-n-5 {
  padding-right: -5px;
}
.p-l-5,
.p-w-5,
.p-5 {
  padding-left: 5px;
}
.p-l-n-5,
.p-w-n-5,
.p-n-5 {
  padding-left: -5px;
}
.p-t-10,
.p-h-10,
.p-10 {
  padding-top: 10px;
}
.p-t-n-10,
.p-h-n-10,
.p-n-10 {
  padding-top: -10px;
}
.p-b-10,
.p-h-10,
.p-10 {
  padding-bottom: 10px;
}
.p-b-n-10,
.p-h-n-10,
.p-n-10 {
  padding-bottom: -10px;
}
.p-r-10,
.p-w-10,
.p-10 {
  padding-right: 10px;
}
.p-r-n-10,
.p-w-n-10,
.p-n-10 {
  padding-right: -10px;
}
.p-l-10,
.p-w-10,
.p-10 {
  padding-left: 10px;
}
.p-l-n-10,
.p-w-n-10,
.p-n-10 {
  padding-left: -10px;
}
.p-t-15,
.p-h-15,
.p-15 {
  padding-top: 15px;
}
.p-t-n-15,
.p-h-n-15,
.p-n-15 {
  padding-top: -15px;
}
.p-b-15,
.p-h-15,
.p-15 {
  padding-bottom: 15px;
}
.p-b-n-15,
.p-h-n-15,
.p-n-15 {
  padding-bottom: -15px;
}
.p-r-15,
.p-w-15,
.p-15 {
  padding-right: 15px;
}
.p-r-n-15,
.p-w-n-15,
.p-n-15 {
  padding-right: -15px;
}
.p-l-15,
.p-w-15,
.p-15 {
  padding-left: 15px;
}
.p-l-n-15,
.p-w-n-15,
.p-n-15 {
  padding-left: -15px;
}
.p-t-20,
.p-h-20,
.p-20 {
  padding-top: 20px;
}
.p-t-n-20,
.p-h-n-20,
.p-n-20 {
  padding-top: -20px;
}
.p-b-20,
.p-h-20,
.p-20 {
  padding-bottom: 20px;
}
.p-b-n-20,
.p-h-n-20,
.p-n-20 {
  padding-bottom: -20px;
}
.p-r-20,
.p-w-20,
.p-20 {
  padding-right: 20px;
}
.p-r-n-20,
.p-w-n-20,
.p-n-20 {
  padding-right: -20px;
}
.p-l-20,
.p-w-20,
.p-20 {
  padding-left: 20px;
}
.p-l-n-20,
.p-w-n-20,
.p-n-20 {
  padding-left: -20px;
}
.p-t-25,
.p-h-25,
.p-25 {
  padding-top: 25px;
}
.p-t-n-25,
.p-h-n-25,
.p-n-25 {
  padding-top: -25px;
}
.p-b-25,
.p-h-25,
.p-25 {
  padding-bottom: 25px;
}
.p-b-n-25,
.p-h-n-25,
.p-n-25 {
  padding-bottom: -25px;
}
.p-r-25,
.p-w-25,
.p-25 {
  padding-right: 25px;
}
.p-r-n-25,
.p-w-n-25,
.p-n-25 {
  padding-right: -25px;
}
.p-l-25,
.p-w-25,
.p-25 {
  padding-left: 25px;
}
.p-l-n-25,
.p-w-n-25,
.p-n-25 {
  padding-left: -25px;
}
.p-t-30,
.p-h-30,
.p-30 {
  padding-top: 30px;
}
.p-t-n-30,
.p-h-n-30,
.p-n-30 {
  padding-top: -30px;
}
.p-b-30,
.p-h-30,
.p-30 {
  padding-bottom: 30px;
}
.p-b-n-30,
.p-h-n-30,
.p-n-30 {
  padding-bottom: -30px;
}
.p-r-30,
.p-w-30,
.p-30 {
  padding-right: 30px;
}
.p-r-n-30,
.p-w-n-30,
.p-n-30 {
  padding-right: -30px;
}
.p-l-30,
.p-w-30,
.p-30 {
  padding-left: 30px;
}
.p-l-n-30,
.p-w-n-30,
.p-n-30 {
  padding-left: -30px;
}
.p-t-35,
.p-h-35,
.p-35 {
  padding-top: 35px;
}
.p-t-n-35,
.p-h-n-35,
.p-n-35 {
  padding-top: -35px;
}
.p-b-35,
.p-h-35,
.p-35 {
  padding-bottom: 35px;
}
.p-b-n-35,
.p-h-n-35,
.p-n-35 {
  padding-bottom: -35px;
}
.p-r-35,
.p-w-35,
.p-35 {
  padding-right: 35px;
}
.p-r-n-35,
.p-w-n-35,
.p-n-35 {
  padding-right: -35px;
}
.p-l-35,
.p-w-35,
.p-35 {
  padding-left: 35px;
}
.p-l-n-35,
.p-w-n-35,
.p-n-35 {
  padding-left: -35px;
}
.p-t-40,
.p-h-40,
.p-40 {
  padding-top: 40px;
}
.p-t-n-40,
.p-h-n-40,
.p-n-40 {
  padding-top: -40px;
}
.p-b-40,
.p-h-40,
.p-40 {
  padding-bottom: 40px;
}
.p-b-n-40,
.p-h-n-40,
.p-n-40 {
  padding-bottom: -40px;
}
.p-r-40,
.p-w-40,
.p-40 {
  padding-right: 40px;
}
.p-r-n-40,
.p-w-n-40,
.p-n-40 {
  padding-right: -40px;
}
.p-l-40,
.p-w-40,
.p-40 {
  padding-left: 40px;
}
.p-l-n-40,
.p-w-n-40,
.p-n-40 {
  padding-left: -40px;
}
.p-t-45,
.p-h-45,
.p-45 {
  padding-top: 45px;
}
.p-t-n-45,
.p-h-n-45,
.p-n-45 {
  padding-top: -45px;
}
.p-b-45,
.p-h-45,
.p-45 {
  padding-bottom: 45px;
}
.p-b-n-45,
.p-h-n-45,
.p-n-45 {
  padding-bottom: -45px;
}
.p-r-45,
.p-w-45,
.p-45 {
  padding-right: 45px;
}
.p-r-n-45,
.p-w-n-45,
.p-n-45 {
  padding-right: -45px;
}
.p-l-45,
.p-w-45,
.p-45 {
  padding-left: 45px;
}
.p-l-n-45,
.p-w-n-45,
.p-n-45 {
  padding-left: -45px;
}
.p-t-50,
.p-h-50,
.p-50 {
  padding-top: 50px;
}
.p-t-n-50,
.p-h-n-50,
.p-n-50 {
  padding-top: -50px;
}
.p-b-50,
.p-h-50,
.p-50 {
  padding-bottom: 50px;
}
.p-b-n-50,
.p-h-n-50,
.p-n-50 {
  padding-bottom: -50px;
}
.p-r-50,
.p-w-50,
.p-50 {
  padding-right: 50px;
}
.p-r-n-50,
.p-w-n-50,
.p-n-50 {
  padding-right: -50px;
}
.p-l-50,
.p-w-50,
.p-50 {
  padding-left: 50px;
}
.p-l-n-50,
.p-w-n-50,
.p-n-50 {
  padding-left: -50px;
}
.p-t-55,
.p-h-55,
.p-55 {
  padding-top: 55px;
}
.p-t-n-55,
.p-h-n-55,
.p-n-55 {
  padding-top: -55px;
}
.p-b-55,
.p-h-55,
.p-55 {
  padding-bottom: 55px;
}
.p-b-n-55,
.p-h-n-55,
.p-n-55 {
  padding-bottom: -55px;
}
.p-r-55,
.p-w-55,
.p-55 {
  padding-right: 55px;
}
.p-r-n-55,
.p-w-n-55,
.p-n-55 {
  padding-right: -55px;
}
.p-l-55,
.p-w-55,
.p-55 {
  padding-left: 55px;
}
.p-l-n-55,
.p-w-n-55,
.p-n-55 {
  padding-left: -55px;
}
.p-t-60,
.p-h-60,
.p-60 {
  padding-top: 60px;
}
.p-t-n-60,
.p-h-n-60,
.p-n-60 {
  padding-top: -60px;
}
.p-b-60,
.p-h-60,
.p-60 {
  padding-bottom: 60px;
}
.p-b-n-60,
.p-h-n-60,
.p-n-60 {
  padding-bottom: -60px;
}
.p-r-60,
.p-w-60,
.p-60 {
  padding-right: 60px;
}
.p-r-n-60,
.p-w-n-60,
.p-n-60 {
  padding-right: -60px;
}
.p-l-60,
.p-w-60,
.p-60 {
  padding-left: 60px;
}
.p-l-n-60,
.p-w-n-60,
.p-n-60 {
  padding-left: -60px;
}
.p-t-65,
.p-h-65,
.p-65 {
  padding-top: 65px;
}
.p-t-n-65,
.p-h-n-65,
.p-n-65 {
  padding-top: -65px;
}
.p-b-65,
.p-h-65,
.p-65 {
  padding-bottom: 65px;
}
.p-b-n-65,
.p-h-n-65,
.p-n-65 {
  padding-bottom: -65px;
}
.p-r-65,
.p-w-65,
.p-65 {
  padding-right: 65px;
}
.p-r-n-65,
.p-w-n-65,
.p-n-65 {
  padding-right: -65px;
}
.p-l-65,
.p-w-65,
.p-65 {
  padding-left: 65px;
}
.p-l-n-65,
.p-w-n-65,
.p-n-65 {
  padding-left: -65px;
}
.p-t-70,
.p-h-70,
.p-70 {
  padding-top: 70px;
}
.p-t-n-70,
.p-h-n-70,
.p-n-70 {
  padding-top: -70px;
}
.p-b-70,
.p-h-70,
.p-70 {
  padding-bottom: 70px;
}
.p-b-n-70,
.p-h-n-70,
.p-n-70 {
  padding-bottom: -70px;
}
.p-r-70,
.p-w-70,
.p-70 {
  padding-right: 70px;
}
.p-r-n-70,
.p-w-n-70,
.p-n-70 {
  padding-right: -70px;
}
.p-l-70,
.p-w-70,
.p-70 {
  padding-left: 70px;
}
.p-l-n-70,
.p-w-n-70,
.p-n-70 {
  padding-left: -70px;
}
.p-t-75,
.p-h-75,
.p-75 {
  padding-top: 75px;
}
.p-t-n-75,
.p-h-n-75,
.p-n-75 {
  padding-top: -75px;
}
.p-b-75,
.p-h-75,
.p-75 {
  padding-bottom: 75px;
}
.p-b-n-75,
.p-h-n-75,
.p-n-75 {
  padding-bottom: -75px;
}
.p-r-75,
.p-w-75,
.p-75 {
  padding-right: 75px;
}
.p-r-n-75,
.p-w-n-75,
.p-n-75 {
  padding-right: -75px;
}
.p-l-75,
.p-w-75,
.p-75 {
  padding-left: 75px;
}
.p-l-n-75,
.p-w-n-75,
.p-n-75 {
  padding-left: -75px;
}
.p-t-80,
.p-h-80,
.p-80 {
  padding-top: 80px;
}
.p-t-n-80,
.p-h-n-80,
.p-n-80 {
  padding-top: -80px;
}
.p-b-80,
.p-h-80,
.p-80 {
  padding-bottom: 80px;
}
.p-b-n-80,
.p-h-n-80,
.p-n-80 {
  padding-bottom: -80px;
}
.p-r-80,
.p-w-80,
.p-80 {
  padding-right: 80px;
}
.p-r-n-80,
.p-w-n-80,
.p-n-80 {
  padding-right: -80px;
}
.p-l-80,
.p-w-80,
.p-80 {
  padding-left: 80px;
}
.p-l-n-80,
.p-w-n-80,
.p-n-80 {
  padding-left: -80px;
}
.p-t-85,
.p-h-85,
.p-85 {
  padding-top: 85px;
}
.p-t-n-85,
.p-h-n-85,
.p-n-85 {
  padding-top: -85px;
}
.p-b-85,
.p-h-85,
.p-85 {
  padding-bottom: 85px;
}
.p-b-n-85,
.p-h-n-85,
.p-n-85 {
  padding-bottom: -85px;
}
.p-r-85,
.p-w-85,
.p-85 {
  padding-right: 85px;
}
.p-r-n-85,
.p-w-n-85,
.p-n-85 {
  padding-right: -85px;
}
.p-l-85,
.p-w-85,
.p-85 {
  padding-left: 85px;
}
.p-l-n-85,
.p-w-n-85,
.p-n-85 {
  padding-left: -85px;
}
.p-t-90,
.p-h-90,
.p-90 {
  padding-top: 90px;
}
.p-t-n-90,
.p-h-n-90,
.p-n-90 {
  padding-top: -90px;
}
.p-b-90,
.p-h-90,
.p-90 {
  padding-bottom: 90px;
}
.p-b-n-90,
.p-h-n-90,
.p-n-90 {
  padding-bottom: -90px;
}
.p-r-90,
.p-w-90,
.p-90 {
  padding-right: 90px;
}
.p-r-n-90,
.p-w-n-90,
.p-n-90 {
  padding-right: -90px;
}
.p-l-90,
.p-w-90,
.p-90 {
  padding-left: 90px;
}
.p-l-n-90,
.p-w-n-90,
.p-n-90 {
  padding-left: -90px;
}
.p-t-95,
.p-h-95,
.p-95 {
  padding-top: 95px;
}
.p-t-n-95,
.p-h-n-95,
.p-n-95 {
  padding-top: -95px;
}
.p-b-95,
.p-h-95,
.p-95 {
  padding-bottom: 95px;
}
.p-b-n-95,
.p-h-n-95,
.p-n-95 {
  padding-bottom: -95px;
}
.p-r-95,
.p-w-95,
.p-95 {
  padding-right: 95px;
}
.p-r-n-95,
.p-w-n-95,
.p-n-95 {
  padding-right: -95px;
}
.p-l-95,
.p-w-95,
.p-95 {
  padding-left: 95px;
}
.p-l-n-95,
.p-w-n-95,
.p-n-95 {
  padding-left: -95px;
}
.p-t-100,
.p-h-100,
.p-100 {
  padding-top: 100px;
}
.p-t-n-100,
.p-h-n-100,
.p-n-100 {
  padding-top: -100px;
}
.p-b-100,
.p-h-100,
.p-100 {
  padding-bottom: 100px;
}
.p-b-n-100,
.p-h-n-100,
.p-n-100 {
  padding-bottom: -100px;
}
.p-r-100,
.p-w-100,
.p-100 {
  padding-right: 100px;
}
.p-r-n-100,
.p-w-n-100,
.p-n-100 {
  padding-right: -100px;
}
.p-l-100,
.p-w-100,
.p-100 {
  padding-left: 100px;
}
.p-l-n-100,
.p-w-n-100,
.p-n-100 {
  padding-left: -100px;
}
.p-t-105,
.p-h-105,
.p-105 {
  padding-top: 105px;
}
.p-t-n-105,
.p-h-n-105,
.p-n-105 {
  padding-top: -105px;
}
.p-b-105,
.p-h-105,
.p-105 {
  padding-bottom: 105px;
}
.p-b-n-105,
.p-h-n-105,
.p-n-105 {
  padding-bottom: -105px;
}
.p-r-105,
.p-w-105,
.p-105 {
  padding-right: 105px;
}
.p-r-n-105,
.p-w-n-105,
.p-n-105 {
  padding-right: -105px;
}
.p-l-105,
.p-w-105,
.p-105 {
  padding-left: 105px;
}
.p-l-n-105,
.p-w-n-105,
.p-n-105 {
  padding-left: -105px;
}
.p-t-110,
.p-h-110,
.p-110 {
  padding-top: 110px;
}
.p-t-n-110,
.p-h-n-110,
.p-n-110 {
  padding-top: -110px;
}
.p-b-110,
.p-h-110,
.p-110 {
  padding-bottom: 110px;
}
.p-b-n-110,
.p-h-n-110,
.p-n-110 {
  padding-bottom: -110px;
}
.p-r-110,
.p-w-110,
.p-110 {
  padding-right: 110px;
}
.p-r-n-110,
.p-w-n-110,
.p-n-110 {
  padding-right: -110px;
}
.p-l-110,
.p-w-110,
.p-110 {
  padding-left: 110px;
}
.p-l-n-110,
.p-w-n-110,
.p-n-110 {
  padding-left: -110px;
}
.p-t-115,
.p-h-115,
.p-115 {
  padding-top: 115px;
}
.p-t-n-115,
.p-h-n-115,
.p-n-115 {
  padding-top: -115px;
}
.p-b-115,
.p-h-115,
.p-115 {
  padding-bottom: 115px;
}
.p-b-n-115,
.p-h-n-115,
.p-n-115 {
  padding-bottom: -115px;
}
.p-r-115,
.p-w-115,
.p-115 {
  padding-right: 115px;
}
.p-r-n-115,
.p-w-n-115,
.p-n-115 {
  padding-right: -115px;
}
.p-l-115,
.p-w-115,
.p-115 {
  padding-left: 115px;
}
.p-l-n-115,
.p-w-n-115,
.p-n-115 {
  padding-left: -115px;
}
.p-t-120,
.p-h-120,
.p-120 {
  padding-top: 120px;
}
.p-t-n-120,
.p-h-n-120,
.p-n-120 {
  padding-top: -120px;
}
.p-b-120,
.p-h-120,
.p-120 {
  padding-bottom: 120px;
}
.p-b-n-120,
.p-h-n-120,
.p-n-120 {
  padding-bottom: -120px;
}
.p-r-120,
.p-w-120,
.p-120 {
  padding-right: 120px;
}
.p-r-n-120,
.p-w-n-120,
.p-n-120 {
  padding-right: -120px;
}
.p-l-120,
.p-w-120,
.p-120 {
  padding-left: 120px;
}
.p-l-n-120,
.p-w-n-120,
.p-n-120 {
  padding-left: -120px;
}
.p-t-125,
.p-h-125,
.p-125 {
  padding-top: 125px;
}
.p-t-n-125,
.p-h-n-125,
.p-n-125 {
  padding-top: -125px;
}
.p-b-125,
.p-h-125,
.p-125 {
  padding-bottom: 125px;
}
.p-b-n-125,
.p-h-n-125,
.p-n-125 {
  padding-bottom: -125px;
}
.p-r-125,
.p-w-125,
.p-125 {
  padding-right: 125px;
}
.p-r-n-125,
.p-w-n-125,
.p-n-125 {
  padding-right: -125px;
}
.p-l-125,
.p-w-125,
.p-125 {
  padding-left: 125px;
}
.p-l-n-125,
.p-w-n-125,
.p-n-125 {
  padding-left: -125px;
}
.p-t-130,
.p-h-130,
.p-130 {
  padding-top: 130px;
}
.p-t-n-130,
.p-h-n-130,
.p-n-130 {
  padding-top: -130px;
}
.p-b-130,
.p-h-130,
.p-130 {
  padding-bottom: 130px;
}
.p-b-n-130,
.p-h-n-130,
.p-n-130 {
  padding-bottom: -130px;
}
.p-r-130,
.p-w-130,
.p-130 {
  padding-right: 130px;
}
.p-r-n-130,
.p-w-n-130,
.p-n-130 {
  padding-right: -130px;
}
.p-l-130,
.p-w-130,
.p-130 {
  padding-left: 130px;
}
.p-l-n-130,
.p-w-n-130,
.p-n-130 {
  padding-left: -130px;
}
.p-t-135,
.p-h-135,
.p-135 {
  padding-top: 135px;
}
.p-t-n-135,
.p-h-n-135,
.p-n-135 {
  padding-top: -135px;
}
.p-b-135,
.p-h-135,
.p-135 {
  padding-bottom: 135px;
}
.p-b-n-135,
.p-h-n-135,
.p-n-135 {
  padding-bottom: -135px;
}
.p-r-135,
.p-w-135,
.p-135 {
  padding-right: 135px;
}
.p-r-n-135,
.p-w-n-135,
.p-n-135 {
  padding-right: -135px;
}
.p-l-135,
.p-w-135,
.p-135 {
  padding-left: 135px;
}
.p-l-n-135,
.p-w-n-135,
.p-n-135 {
  padding-left: -135px;
}
.p-t-140,
.p-h-140,
.p-140 {
  padding-top: 140px;
}
.p-t-n-140,
.p-h-n-140,
.p-n-140 {
  padding-top: -140px;
}
.p-b-140,
.p-h-140,
.p-140 {
  padding-bottom: 140px;
}
.p-b-n-140,
.p-h-n-140,
.p-n-140 {
  padding-bottom: -140px;
}
.p-r-140,
.p-w-140,
.p-140 {
  padding-right: 140px;
}
.p-r-n-140,
.p-w-n-140,
.p-n-140 {
  padding-right: -140px;
}
.p-l-140,
.p-w-140,
.p-140 {
  padding-left: 140px;
}
.p-l-n-140,
.p-w-n-140,
.p-n-140 {
  padding-left: -140px;
}
.p-t-145,
.p-h-145,
.p-145 {
  padding-top: 145px;
}
.p-t-n-145,
.p-h-n-145,
.p-n-145 {
  padding-top: -145px;
}
.p-b-145,
.p-h-145,
.p-145 {
  padding-bottom: 145px;
}
.p-b-n-145,
.p-h-n-145,
.p-n-145 {
  padding-bottom: -145px;
}
.p-r-145,
.p-w-145,
.p-145 {
  padding-right: 145px;
}
.p-r-n-145,
.p-w-n-145,
.p-n-145 {
  padding-right: -145px;
}
.p-l-145,
.p-w-145,
.p-145 {
  padding-left: 145px;
}
.p-l-n-145,
.p-w-n-145,
.p-n-145 {
  padding-left: -145px;
}
.p-t-150,
.p-h-150,
.p-150 {
  padding-top: 150px;
}
.p-t-n-150,
.p-h-n-150,
.p-n-150 {
  padding-top: -150px;
}
.p-b-150,
.p-h-150,
.p-150 {
  padding-bottom: 150px;
}
.p-b-n-150,
.p-h-n-150,
.p-n-150 {
  padding-bottom: -150px;
}
.p-r-150,
.p-w-150,
.p-150 {
  padding-right: 150px;
}
.p-r-n-150,
.p-w-n-150,
.p-n-150 {
  padding-right: -150px;
}
.p-l-150,
.p-w-150,
.p-150 {
  padding-left: 150px;
}
.p-l-n-150,
.p-w-n-150,
.p-n-150 {
  padding-left: -150px;
}
.b-r-0 {
  border-radius: 0px;
}
.b-r-1 {
  border-radius: 1px;
}
.b-r-2 {
  border-radius: 2px;
}
.b-r-3 {
  border-radius: 3px;
}
.b-r-4 {
  border-radius: 4px;
}
.b-r-5 {
  border-radius: 5px;
}
.b-r-6 {
  border-radius: 6px;
}
.b-r-7 {
  border-radius: 7px;
}
.b-r-8 {
  border-radius: 8px;
}
.b-r-9 {
  border-radius: 9px;
}
.b-r-10 {
  border-radius: 10px;
}
.b-c-blue {
  border-color: #2b66b9;
}
.b-c-green {
  border-color: #7bc520;
}
.b-c-red {
  border-color: #e82726;
}
.b-c-pink {
  border-color: #f51d58;
}
.b-c-orange {
  border-color: #f5a628;
}
.b-c-yellow {
  border-color: #f5a623;
}
.b-c-purple {
  border-color: #7f3f98;
}
.b-c-darker-gray {
  border-color: #272f36;
}
.b-c-dark-gray {
  border-color: #55626c;
}
.b-c-gray {
  border-color: #c2c8ce;
}
.b-c-black {
  border-color: #000;
}
.b-c-white {
  border-color: #fff;
}
.b-c-light-gray {
  border-color: #e9e9e9;
}
.b-s-n {
  border-style: none;
}
.b-s-s {
  border-style: solid;
}
.b-s-da {
  border-style: dashed;
}
.b-s-do {
  border-style: dotted;
}
.b-s-db {
  border-style: double;
}
.b-s-in {
  border-style: inset;
}
.b-s-out {
  border-style: outset;
}
.b-w-1 {
  border-width: 1px;
}
.b-w-2 {
  border-width: 2px;
}
.b-w-3 {
  border-width: 3px;
}
.b-w-4 {
  border-width: 4px;
}
.b-w-5 {
  border-width: 5px;
}
.b-w-t-1 {
  border-top-width: 1px;
}
.b-w-t-2 {
  border-top-width: 2px;
}
.b-w-t-3 {
  border-top-width: 3px;
}
.b-w-t-4 {
  border-top-width: 4px;
}
.b-w-t-5 {
  border-top-width: 5px;
}
.b-w-t-n {
  border-top: none;
}
.b-w-r-1 {
  border-right-width: 1px;
}
.b-w-r-2 {
  border-right-width: 2px;
}
.b-w-r-3 {
  border-right-width: 3px;
}
.b-w-r-4 {
  border-right-width: 4px;
}
.b-w-r-5 {
  border-right-width: 5px;
}
.b-w-r-n {
  border-right: none;
}
.b-w-b-1 {
  border-bottom-width: 1px;
}
.b-w-b-2 {
  border-bottom-width: 2px;
}
.b-w-b-3 {
  border-bottom-width: 3px;
}
.b-w-b-4 {
  border-bottom-width: 4px;
}
.b-w-b-5 {
  border-bottom-width: 5px;
}
.b-w-b-n {
  border-bottom: none;
}
.b-w-l-1 {
  border-left-width: 1px;
}
.b-w-l-2 {
  border-left-width: 2px;
}
.b-w-l-3 {
  border-left-width: 3px;
}
.b-w-l-4 {
  border-left-width: 4px;
}
.b-w-l-5 {
  border-left-width: 5px;
}
.b-w-l-n {
  border-left: none;
}
.col-centered {
  float: none;
  margin: 0 auto;
}
.col-centered-inline,
.col-centered-inline-bot {
  display: inline-block;
  float: none;
}
.col-centered-inline {
  text-align: left;
}
.col-centered-inline-bot {
  vertical-align: bottom;
}
.col-centered-v {
  position: relative;
}
.col-centered-v-a {
  position: absolute;
}
.col-centered-v,
.col-centered-v-a {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
