.m-h-0, .m-h-n-0, .m-t-0, .m-t-n-0 {
    margin-top: 0 !important;
}

.m-r-0, .m-r-n-0, .m-v-0, .m-v-n-0 {
    margin-right: 0 !important;
}

.m-b-0, .m-b-n-0, .m-h-0, .m-h-n-0 {
    margin-bottom: 0 !important;
}

.m-l-0, .m-l-n-0, .m-v-0, .m-v-n-0 {
    margin-left: 0 !important;
}

.p-h-0, .p-h-n-0, .p-t-0, .p-t-n-0 {
    padding-top: 0 !important;
}

.p-r-0, .p-r-n-0, .p-v-0, .p-v-n-0 {
    padding-right: 0 !important;
}

.p-b-0, .p-b-n-0, .p-h-0, .p-h-n-0 {
    padding-bottom: 0 !important;
}

.p-l-0, .p-l-n-0, .p-v-0, .p-v-n-0 {
    padding-left: 0 !important;
}

.col-centered-v, .col-centered-v-a {
    top: 50%;
    transform: translateY(-50%);
}

.bg-blue {
    background: #2b66b9 !important;
}

.bg-green {
    background: #7bc520 !important;
}

.bg-red {
    background: #da291c !important;
}

.bg-pink {
    background: #f51d58 !important;
}

.bg-orange, .bg-yellow {
    background: #f5a623 !important;
}

.bg-purple {
    background: #7f3f98 !important;
}

.bg-darker-gray {
    background: #272f36 !important;
}

.bg-dark-gray {
    background: #55626c !important;
}

.bg-gray {
    background: #c2c8ce !important;
}

.bg-black {
    background: #000 !important;
}

.bg-white {
    background: #fff !important;
}

.bg-light-gray {
    background: #e9e9e9 !important;
}

.ft-blue {
    color: #2b66b9 !important;
}

.ft-green {
    color: #7bc520 !important;
}

.ft-red {
    color: #da291c !important;
}

.ft-pink {
    color: #f51d58 !important;
}

.ft-orange, .ft-yellow {
    color: #f5a623 !important;
}

.ft-purple {
    color: #7f3f98 !important;
}

.ft-darker-gray {
    color: #272f36 !important;
}

.ft-dark-gray {
    color: #55626c !important;
}

.ft-gray {
    color: #c2c8ce !important;
}

.ft-black {
    color: #000 !important;
}

.ft-white {
    color: #fff !important;
}

.ft-light-gray {
    color: #e9e9e9 !important;
}

.ft-st-n {
    font-style: normal;
}

.ft-st-i {
    font-style: italic;
}

.ft-st-i {
    font-style: oblique;
}

.ft-s-6 {
    font-size: 6px !important;
}

.ft-s-7 {
    font-size: 7px !important;
}

.ft-s-8 {
    font-size: 8px !important;
}

.ft-s-9 {
    font-size: 9px !important;
}

.ft-s-10 {
    font-size: 10px !important;
}

.ft-s-11 {
    font-size: 11px !important;
}

.ft-s-12 {
    font-size: 12px !important;
}

.ft-s-13 {
    font-size: 13px !important;
}

.ft-s-14 {
    font-size: 14px !important;
}

.ft-s-15 {
    font-size: 15px !important;
}

.ft-s-16 {
    font-size: 16px !important;
}

.ft-s-17 {
    font-size: 17px !important;
}

.ft-s-18 {
    font-size: 18px !important;
}

.ft-s-19 {
    font-size: 19px !important;
}

.ft-s-20 {
    font-size: 20px !important;
}

.ft-s-21 {
    font-size: 21px !important;
}

.ft-s-22 {
    font-size: 22px !important;
}

.ft-s-23 {
    font-size: 23px !important;
}

.ft-s-24 {
    font-size: 24px !important;
}

.ft-s-25 {
    font-size: 25px !important;
}

.ft-s-26 {
    font-size: 26px !important;
}

.ft-s-27 {
    font-size: 27px !important;
}

.ft-s-28 {
    font-size: 28px !important;
}

.ft-s-29 {
    font-size: 29px !important;
}

.ft-s-30 {
    font-size: 30px !important;
}

.ft-s-31 {
    font-size: 31px !important;
}

.ft-s-32 {
    font-size: 32px !important;
}

.ft-s-33 {
    font-size: 33px !important;
}

.ft-s-34 {
    font-size: 34px !important;
}

.ft-s-35 {
    font-size: 35px !important;
}

.ft-s-36 {
    font-size: 36px !important;
}

.ft-s-37 {
    font-size: 37px !important;
}

.ft-s-38 {
    font-size: 38px !important;
}

.ft-s-39 {
    font-size: 39px !important;
}

.ft-s-40 {
    font-size: 40px !important;
}

.ft-s-41 {
    font-size: 41px !important;
}

.ft-s-42 {
    font-size: 42px !important;
}

.ft-s-43 {
    font-size: 43px !important;
}

.ft-s-44 {
    font-size: 44px !important;
}

.ft-s-45 {
    font-size: 45px !important;
}

.ft-s-46 {
    font-size: 46px !important;
}

.ft-s-47 {
    font-size: 47px !important;
}

.ft-s-48 {
    font-size: 48px !important;
}

.ft-s-49 {
    font-size: 49px !important;
}

.ft-s-50 {
    font-size: 50px !important;
}

.ft-s-51 {
    font-size: 51px !important;
}

.ft-s-52 {
    font-size: 52px !important;
}

.ft-s-53 {
    font-size: 53px !important;
}

.ft-s-54 {
    font-size: 54px !important;
}

.ft-s-55 {
    font-size: 55px !important;
}

.ft-s-56 {
    font-size: 56px !important;
}

.ft-s-57 {
    font-size: 57px !important;
}

.ft-s-58 {
    font-size: 58px !important;
}

.ft-s-59 {
    font-size: 59px !important;
}

.ft-s-60 {
    font-size: 60px !important;
}

.ft-w-n {
    font-weight: 400;
}

.ft-w-b {
    font-weight: 700;
}

.ft-w-sb {
    font-weight: bolder;
}

.ft-w-l {
    font-weight: lighter;
}

.ft-w-100 {
    font-weight: 100 !important;
}

.ft-w-200 {
    font-weight: 200 !important;
}

.ft-w-300 {
    font-weight: 300 !important;
}

.ft-w-400 {
    font-weight: 400 !important;
}

.ft-w-500 {
    font-weight: 500 !important;
}

.ft-w-600 {
    font-weight: 600 !important;
}

.ft-w-700 {
    font-weight: 700 !important;
}

.ft-w-800 {
    font-weight: 800 !important;
}

.ft-w-900 {
    font-weight: 900 !important;
}

.lh-0 {
    line-height: normal;
}

.lh-10 {
    line-height: 10px;
}

.lh-12 {
    line-height: 12px;
}

.lh-14 {
    line-height: 14px;
}

.lh-16 {
    line-height: 16px;
}

.lh-18 {
    line-height: 18px;
}

.lh-20 {
    line-height: 20px;
}

.lh-22 {
    line-height: 22px;
}

.lh-24 {
    line-height: 24px;
}

.lh-26 {
    line-height: 26px;
}

.lh-28 {
    line-height: 28px;
}

.lh-30 {
    line-height: 30px;
}

.lh-32 {
    line-height: 32px;
}

.lh-34 {
    line-height: 34px;
}

.lh-36 {
    line-height: 36px;
}

.lh-38 {
    line-height: 38px;
}

.lh-40 {
    line-height: 40px;
}

.lh-42 {
    line-height: 42px;
}

.lh-44 {
    line-height: 44px;
}

.lh-46 {
    line-height: 46px;
}

.lh-48 {
    line-height: 48px;
}

.lh-50 {
    line-height: 50px;
}

.ls-0 {
    letter-spacing: normal !important;
}

.ls-1 {
    letter-spacing: 1px !important;
}

.ls-2 {
    letter-spacing: 2px !important;
}

.ls-3 {
    letter-spacing: 3px !important;
}

.ls-4 {
    letter-spacing: 4px !important;
}

.ls-5 {
    letter-spacing: 5px !important;
}

.m-0, .m-n-0 {
    margin: 0 !important;
}

.m-5 {
    margin: 5px !important;
}

.m-n-5 {
    margin: -5px !important;
}

.m-v-5 {
    margin-right: 5px !important;
    margin-left: 5px !important;
}

.m-v-n-5 {
    margin-right: -5px !important;
    margin-left: -5px !important;
}

.m-h-5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.m-h-n-5 {
    margin-top: -5px !important;
    margin-bottom: -5px !important;
}

.m-t-5 {
    margin-top: 5px !important;
}

.m-t-n-5 {
    margin-top: -5px !important;
}

.m-r-5 {
    margin-right: 5px !important;
}

.m-r-n-5 {
    margin-right: -5px !important;
}

.m-b-5 {
    margin-bottom: 5px !important;
}

.m-b-n-5 {
    margin-bottom: -5px !important;
}

.m-l-5 {
    margin-left: 5px !important;
}

.m-l-n-5 {
    margin-left: -5px !important;
}

.m-10 {
    margin: 10px !important;
}

.m-n-10 {
    margin: -10px !important;
}

.m-v-10 {
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.m-v-n-10 {
    margin-right: -10px !important;
    margin-left: -10px !important;
}

.m-h-10 {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.m-h-n-10 {
    margin-top: -10px !important;
    margin-bottom: -10px !important;
}

.m-t-10 {
    margin-top: 10px !important;
}

.m-t-n-10 {
    margin-top: -10px !important;
}

.m-r-10 {
    margin-right: 10px !important;
}

.m-r-n-10 {
    margin-right: -10px !important;
}

.m-b-10 {
    margin-bottom: 10px !important;
}

.m-b-n-10 {
    margin-bottom: -10px !important;
}

.m-l-10 {
    margin-left: 10px !important;
}

.m-l-n-10 {
    margin-left: -10px !important;
}

.m-15 {
    margin: 15px !important;
}

.m-n-15 {
    margin: -15px !important;
}

.m-v-15 {
    margin-right: 15px !important;
    margin-left: 15px !important;
}

.m-v-n-15 {
    margin-right: -15px !important;
    margin-left: -15px !important;
}

.m-h-15 {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

.m-h-n-15 {
    margin-top: -15px !important;
    margin-bottom: -15px !important;
}

.m-t-15 {
    margin-top: 15px !important;
}

.m-t-n-15 {
    margin-top: -15px !important;
}

.m-r-15 {
    margin-right: 15px !important;
}

.m-r-n-15 {
    margin-right: -15px !important;
}

.m-b-15 {
    margin-bottom: 15px !important;
}

.m-b-n-15 {
    margin-bottom: -15px !important;
}

.m-l-15 {
    margin-left: 15px !important;
}

.m-l-n-15 {
    margin-left: -15px !important;
}

.m-20 {
    margin: 20px !important;
}

.m-n-20 {
    margin: -20px !important;
}

.m-v-20 {
    margin-right: 20px !important;
    margin-left: 20px !important;
}

.m-v-n-20 {
    margin-right: -20px !important;
    margin-left: -20px !important;
}

.m-h-20 {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.m-h-n-20 {
    margin-top: -20px !important;
    margin-bottom: -20px !important;
}

.m-t-20 {
    margin-top: 20px !important;
}

.m-t-n-20 {
    margin-top: -20px !important;
}

.m-r-20 {
    margin-right: 20px !important;
}

.m-r-n-20 {
    margin-right: -20px !important;
}

.m-b-20 {
    margin-bottom: 20px !important;
}

.m-b-n-20 {
    margin-bottom: -20px !important;
}

.m-l-20 {
    margin-left: 20px !important;
}

.m-l-n-20 {
    margin-left: -20px !important;
}

.m-25 {
    margin: 25px !important;
}

.m-n-25 {
    margin: -25px !important;
}

.m-v-25 {
    margin-right: 25px !important;
    margin-left: 25px !important;
}

.m-v-n-25 {
    margin-right: -25px !important;
    margin-left: -25px !important;
}

.m-h-25 {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

.m-h-n-25 {
    margin-top: -25px !important;
    margin-bottom: -25px !important;
}

.m-t-25 {
    margin-top: 25px !important;
}

.m-t-n-25 {
    margin-top: -25px !important;
}

.m-r-25 {
    margin-right: 25px !important;
}

.m-r-n-25 {
    margin-right: -25px !important;
}

.m-b-25 {
    margin-bottom: 25px !important;
}

.m-b-n-25 {
    margin-bottom: -25px !important;
}

.m-l-25 {
    margin-left: 25px !important;
}

.m-l-n-25 {
    margin-left: -25px !important;
}

.m-30 {
    margin: 30px !important;
}

.m-n-30 {
    margin: -30px !important;
}

.m-v-30 {
    margin-right: 30px !important;
    margin-left: 30px !important;
}

.m-v-n-30 {
    margin-right: -30px !important;
    margin-left: -30px !important;
}

.m-h-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}

.m-h-n-30 {
    margin-top: -30px !important;
    margin-bottom: -30px !important;
}

.m-t-30 {
    margin-top: 30px !important;
}

.m-t-n-30 {
    margin-top: -30px !important;
}

.m-r-30 {
    margin-right: 30px !important;
}

.m-r-n-30 {
    margin-right: -30px !important;
}

.m-b-30 {
    margin-bottom: 30px !important;
}

.m-b-n-30 {
    margin-bottom: -30px !important;
}

.m-l-30 {
    margin-left: 30px !important;
}

.m-l-n-30 {
    margin-left: -30px !important;
}

.m-35 {
    margin: 35px !important;
}

.m-n-35 {
    margin: -35px !important;
}

.m-v-35 {
    margin-right: 35px !important;
    margin-left: 35px !important;
}

.m-v-n-35 {
    margin-right: -35px !important;
    margin-left: -35px !important;
}

.m-h-35 {
    margin-top: 35px !important;
    margin-bottom: 35px !important;
}

.m-h-n-35 {
    margin-top: -35px !important;
    margin-bottom: -35px !important;
}

.m-t-35 {
    margin-top: 35px !important;
}

.m-t-n-35 {
    margin-top: -35px !important;
}

.m-r-35 {
    margin-right: 35px !important;
}

.m-r-n-35 {
    margin-right: -35px !important;
}

.m-b-35 {
    margin-bottom: 35px !important;
}

.m-b-n-35 {
    margin-bottom: -35px !important;
}

.m-l-35 {
    margin-left: 35px !important;
}

.m-l-n-35 {
    margin-left: -35px !important;
}

.m-40 {
    margin: 40px !important;
}

.m-n-40 {
    margin: -40px !important;
}

.m-v-40 {
    margin-right: 40px !important;
    margin-left: 40px !important;
}

.m-v-n-40 {
    margin-right: -40px !important;
    margin-left: -40px !important;
}

.m-h-40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.m-h-n-40 {
    margin-top: -40px !important;
    margin-bottom: -40px !important;
}

.m-t-40 {
    margin-top: 40px !important;
}

.m-t-n-40 {
    margin-top: -40px !important;
}

.m-r-40 {
    margin-right: 40px !important;
}

.m-r-n-40 {
    margin-right: -40px !important;
}

.m-b-40 {
    margin-bottom: 40px !important;
}

.m-b-n-40 {
    margin-bottom: -40px !important;
}

.m-l-40 {
    margin-left: 40px !important;
}

.m-l-n-40 {
    margin-left: -40px !important;
}

.m-45 {
    margin: 45px !important;
}

.m-n-45 {
    margin: -45px !important;
}

.m-v-45 {
    margin-right: 45px !important;
    margin-left: 45px !important;
}

.m-v-n-45 {
    margin-right: -45px !important;
    margin-left: -45px !important;
}

.m-h-45 {
    margin-top: 45px !important;
    margin-bottom: 45px !important;
}

.m-h-n-45 {
    margin-top: -45px !important;
    margin-bottom: -45px !important;
}

.m-t-45 {
    margin-top: 45px !important;
}

.m-t-n-45 {
    margin-top: -45px !important;
}

.m-r-45 {
    margin-right: 45px !important;
}

.m-r-n-45 {
    margin-right: -45px !important;
}

.m-b-45 {
    margin-bottom: 45px !important;
}

.m-b-n-45 {
    margin-bottom: -45px !important;
}

.m-l-45 {
    margin-left: 45px !important;
}

.m-l-n-45 {
    margin-left: -45px !important;
}

.m-50 {
    margin: 50px !important;
}

.m-n-50 {
    margin: -50px !important;
}

.m-v-50 {
    margin-right: 50px !important;
    margin-left: 50px !important;
}

.m-v-n-50 {
    margin-right: -50px !important;
    margin-left: -50px !important;
}

.m-h-50 {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.m-h-n-50 {
    margin-top: -50px !important;
    margin-bottom: -50px !important;
}

.m-t-50 {
    margin-top: 50px !important;
}

.m-t-n-50 {
    margin-top: -50px !important;
}

.m-r-50 {
    margin-right: 50px !important;
}

.m-r-n-50 {
    margin-right: -50px !important;
}

.m-b-50 {
    margin-bottom: 50px !important;
}

.m-b-n-50 {
    margin-bottom: -50px !important;
}

.m-l-50 {
    margin-left: 50px !important;
}

.m-l-n-50 {
    margin-left: -50px !important;
}

.m-55 {
    margin: 55px !important;
}

.m-n-55 {
    margin: -55px !important;
}

.m-v-55 {
    margin-right: 55px !important;
    margin-left: 55px !important;
}

.m-v-n-55 {
    margin-right: -55px !important;
    margin-left: -55px !important;
}

.m-h-55 {
    margin-top: 55px !important;
    margin-bottom: 55px !important;
}

.m-h-n-55 {
    margin-top: -55px !important;
    margin-bottom: -55px !important;
}

.m-t-55 {
    margin-top: 55px !important;
}

.m-t-n-55 {
    margin-top: -55px !important;
}

.m-r-55 {
    margin-right: 55px !important;
}

.m-r-n-55 {
    margin-right: -55px !important;
}

.m-b-55 {
    margin-bottom: 55px !important;
}

.m-b-n-55 {
    margin-bottom: -55px !important;
}

.m-l-55 {
    margin-left: 55px !important;
}

.m-l-n-55 {
    margin-left: -55px !important;
}

.m-60 {
    margin: 60px !important;
}

.m-n-60 {
    margin: -60px !important;
}

.m-v-60 {
    margin-right: 60px !important;
    margin-left: 60px !important;
}

.m-v-n-60 {
    margin-right: -60px !important;
    margin-left: -60px !important;
}

.m-h-60 {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
}

.m-h-n-60 {
    margin-top: -60px !important;
    margin-bottom: -60px !important;
}

.m-t-60 {
    margin-top: 60px !important;
}

.m-t-n-60 {
    margin-top: -60px !important;
}

.m-r-60 {
    margin-right: 60px !important;
}

.m-r-n-60 {
    margin-right: -60px !important;
}

.m-b-60 {
    margin-bottom: 60px !important;
}

.m-b-n-60 {
    margin-bottom: -60px !important;
}

.m-l-60 {
    margin-left: 60px !important;
}

.m-l-n-60 {
    margin-left: -60px !important;
}

.m-65 {
    margin: 65px !important;
}

.m-n-65 {
    margin: -65px !important;
}

.m-v-65 {
    margin-right: 65px !important;
    margin-left: 65px !important;
}

.m-v-n-65 {
    margin-right: -65px !important;
    margin-left: -65px !important;
}

.m-h-65 {
    margin-top: 65px !important;
    margin-bottom: 65px !important;
}

.m-h-n-65 {
    margin-top: -65px !important;
    margin-bottom: -65px !important;
}

.m-t-65 {
    margin-top: 65px !important;
}

.m-t-n-65 {
    margin-top: -65px !important;
}

.m-r-65 {
    margin-right: 65px !important;
}

.m-r-n-65 {
    margin-right: -65px !important;
}

.m-b-65 {
    margin-bottom: 65px !important;
}

.m-b-n-65 {
    margin-bottom: -65px !important;
}

.m-l-65 {
    margin-left: 65px !important;
}

.m-l-n-65 {
    margin-left: -65px !important;
}

.m-70 {
    margin: 70px !important;
}

.m-n-70 {
    margin: -70px !important;
}

.m-v-70 {
    margin-right: 70px !important;
    margin-left: 70px !important;
}

.m-v-n-70 {
    margin-right: -70px !important;
    margin-left: -70px !important;
}

.m-h-70 {
    margin-top: 70px !important;
    margin-bottom: 70px !important;
}

.m-h-n-70 {
    margin-top: -70px !important;
    margin-bottom: -70px !important;
}

.m-t-70 {
    margin-top: 70px !important;
}

.m-t-n-70 {
    margin-top: -70px !important;
}

.m-r-70 {
    margin-right: 70px !important;
}

.m-r-n-70 {
    margin-right: -70px !important;
}

.m-b-70 {
    margin-bottom: 70px !important;
}

.m-b-n-70 {
    margin-bottom: -70px !important;
}

.m-l-70 {
    margin-left: 70px !important;
}

.m-l-n-70 {
    margin-left: -70px !important;
}

.m-75 {
    margin: 75px !important;
}

.m-n-75 {
    margin: -75px !important;
}

.m-v-75 {
    margin-right: 75px !important;
    margin-left: 75px !important;
}

.m-v-n-75 {
    margin-right: -75px !important;
    margin-left: -75px !important;
}

.m-h-75 {
    margin-top: 75px !important;
    margin-bottom: 75px !important;
}

.m-h-n-75 {
    margin-top: -75px !important;
    margin-bottom: -75px !important;
}

.m-t-75 {
    margin-top: 75px !important;
}

.m-t-n-75 {
    margin-top: -75px !important;
}

.m-r-75 {
    margin-right: 75px !important;
}

.m-r-n-75 {
    margin-right: -75px !important;
}

.m-b-75 {
    margin-bottom: 75px !important;
}

.m-b-n-75 {
    margin-bottom: -75px !important;
}

.m-l-75 {
    margin-left: 75px !important;
}

.m-l-n-75 {
    margin-left: -75px !important;
}

.m-80 {
    margin: 80px !important;
}

.m-n-80 {
    margin: -80px !important;
}

.m-v-80 {
    margin-right: 80px !important;
    margin-left: 80px !important;
}

.m-v-n-80 {
    margin-right: -80px !important;
    margin-left: -80px !important;
}

.m-h-80 {
    margin-top: 80px !important;
    margin-bottom: 80px !important;
}

.m-h-n-80 {
    margin-top: -80px !important;
    margin-bottom: -80px !important;
}

.m-t-80 {
    margin-top: 80px !important;
}

.m-t-n-80 {
    margin-top: -80px !important;
}

.m-r-80 {
    margin-right: 80px !important;
}

.m-r-n-80 {
    margin-right: -80px !important;
}

.m-b-80 {
    margin-bottom: 80px !important;
}

.m-b-n-80 {
    margin-bottom: -80px !important;
}

.m-l-80 {
    margin-left: 80px !important;
}

.m-l-n-80 {
    margin-left: -80px !important;
}

.m-85 {
    margin: 85px !important;
}

.m-n-85 {
    margin: -85px !important;
}

.m-v-85 {
    margin-right: 85px !important;
    margin-left: 85px !important;
}

.m-v-n-85 {
    margin-right: -85px !important;
    margin-left: -85px !important;
}

.m-h-85 {
    margin-top: 85px !important;
    margin-bottom: 85px !important;
}

.m-h-n-85 {
    margin-top: -85px !important;
    margin-bottom: -85px !important;
}

.m-t-85 {
    margin-top: 85px !important;
}

.m-t-n-85 {
    margin-top: -85px !important;
}

.m-r-85 {
    margin-right: 85px !important;
}

.m-r-n-85 {
    margin-right: -85px !important;
}

.m-b-85 {
    margin-bottom: 85px !important;
}

.m-b-n-85 {
    margin-bottom: -85px !important;
}

.m-l-85 {
    margin-left: 85px !important;
}

.m-l-n-85 {
    margin-left: -85px !important;
}

.m-90 {
    margin: 90px !important;
}

.m-n-90 {
    margin: -90px !important;
}

.m-v-90 {
    margin-right: 90px !important;
    margin-left: 90px !important;
}

.m-v-n-90 {
    margin-right: -90px !important;
    margin-left: -90px !important;
}

.m-h-90 {
    margin-top: 90px !important;
    margin-bottom: 90px !important;
}

.m-h-n-90 {
    margin-top: -90px !important;
    margin-bottom: -90px !important;
}

.m-t-90 {
    margin-top: 90px !important;
}

.m-t-n-90 {
    margin-top: -90px !important;
}

.m-r-90 {
    margin-right: 90px !important;
}

.m-r-n-90 {
    margin-right: -90px !important;
}

.m-b-90 {
    margin-bottom: 90px !important;
}

.m-b-n-90 {
    margin-bottom: -90px !important;
}

.m-l-90 {
    margin-left: 90px !important;
}

.m-l-n-90 {
    margin-left: -90px !important;
}

.m-95 {
    margin: 95px !important;
}

.m-n-95 {
    margin: -95px !important;
}

.m-v-95 {
    margin-right: 95px !important;
    margin-left: 95px !important;
}

.m-v-n-95 {
    margin-right: -95px !important;
    margin-left: -95px !important;
}

.m-h-95 {
    margin-top: 95px !important;
    margin-bottom: 95px !important;
}

.m-h-n-95 {
    margin-top: -95px !important;
    margin-bottom: -95px !important;
}

.m-t-95 {
    margin-top: 95px !important;
}

.m-t-n-95 {
    margin-top: -95px !important;
}

.m-r-95 {
    margin-right: 95px !important;
}

.m-r-n-95 {
    margin-right: -95px !important;
}

.m-b-95 {
    margin-bottom: 95px !important;
}

.m-b-n-95 {
    margin-bottom: -95px !important;
}

.m-l-95 {
    margin-left: 95px !important;
}

.m-l-n-95 {
    margin-left: -95px !important;
}

.m-100 {
    margin: 100px !important;
}

.m-n-100 {
    margin: -100px !important;
}

.m-v-100 {
    margin-right: 100px !important;
    margin-left: 100px !important;
}

.m-v-n-100 {
    margin-right: -100px !important;
    margin-left: -100px !important;
}

.m-h-100 {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
}

.m-h-n-100 {
    margin-top: -100px !important;
    margin-bottom: -100px !important;
}

.m-t-100 {
    margin-top: 100px !important;
}

.m-t-n-100 {
    margin-top: -100px !important;
}

.m-r-100 {
    margin-right: 100px !important;
}

.m-r-n-100 {
    margin-right: -100px !important;
}

.m-b-100 {
    margin-bottom: 100px !important;
}

.m-b-n-100 {
    margin-bottom: -100px !important;
}

.m-l-100 {
    margin-left: 100px !important;
}

.m-l-n-100 {
    margin-left: -100px !important;
}

.m-105 {
    margin: 105px !important;
}

.m-n-105 {
    margin: -105px !important;
}

.m-v-105 {
    margin-right: 105px !important;
    margin-left: 105px !important;
}

.m-v-n-105 {
    margin-right: -105px !important;
    margin-left: -105px !important;
}

.m-h-105 {
    margin-top: 105px !important;
    margin-bottom: 105px !important;
}

.m-h-n-105 {
    margin-top: -105px !important;
    margin-bottom: -105px !important;
}

.m-t-105 {
    margin-top: 105px !important;
}

.m-t-n-105 {
    margin-top: -105px !important;
}

.m-r-105 {
    margin-right: 105px !important;
}

.m-r-n-105 {
    margin-right: -105px !important;
}

.m-b-105 {
    margin-bottom: 105px !important;
}

.m-b-n-105 {
    margin-bottom: -105px !important;
}

.m-l-105 {
    margin-left: 105px !important;
}

.m-l-n-105 {
    margin-left: -105px !important;
}

.m-110 {
    margin: 110px !important;
}

.m-n-110 {
    margin: -110px !important;
}

.m-v-110 {
    margin-right: 110px !important;
    margin-left: 110px !important;
}

.m-v-n-110 {
    margin-right: -110px !important;
    margin-left: -110px !important;
}

.m-h-110 {
    margin-top: 110px !important;
    margin-bottom: 110px !important;
}

.m-h-n-110 {
    margin-top: -110px !important;
    margin-bottom: -110px !important;
}

.m-t-110 {
    margin-top: 110px !important;
}

.m-t-n-110 {
    margin-top: -110px !important;
}

.m-r-110 {
    margin-right: 110px !important;
}

.m-r-n-110 {
    margin-right: -110px !important;
}

.m-b-110 {
    margin-bottom: 110px !important;
}

.m-b-n-110 {
    margin-bottom: -110px !important;
}

.m-l-110 {
    margin-left: 110px !important;
}

.m-l-n-110 {
    margin-left: -110px !important;
}

.m-115 {
    margin: 115px !important;
}

.m-n-115 {
    margin: -115px !important;
}

.m-v-115 {
    margin-right: 115px !important;
    margin-left: 115px !important;
}

.m-v-n-115 {
    margin-right: -115px !important;
    margin-left: -115px !important;
}

.m-h-115 {
    margin-top: 115px !important;
    margin-bottom: 115px !important;
}

.m-h-n-115 {
    margin-top: -115px !important;
    margin-bottom: -115px !important;
}

.m-t-115 {
    margin-top: 115px !important;
}

.m-t-n-115 {
    margin-top: -115px !important;
}

.m-r-115 {
    margin-right: 115px !important;
}

.m-r-n-115 {
    margin-right: -115px !important;
}

.m-b-115 {
    margin-bottom: 115px !important;
}

.m-b-n-115 {
    margin-bottom: -115px !important;
}

.m-l-115 {
    margin-left: 115px !important;
}

.m-l-n-115 {
    margin-left: -115px !important;
}

.m-120 {
    margin: 120px !important;
}

.m-n-120 {
    margin: -120px !important;
}

.m-v-120 {
    margin-right: 120px !important;
    margin-left: 120px !important;
}

.m-v-n-120 {
    margin-right: -120px !important;
    margin-left: -120px !important;
}

.m-h-120 {
    margin-top: 120px !important;
    margin-bottom: 120px !important;
}

.m-h-n-120 {
    margin-top: -120px !important;
    margin-bottom: -120px !important;
}

.m-t-120 {
    margin-top: 120px !important;
}

.m-t-n-120 {
    margin-top: -120px !important;
}

.m-r-120 {
    margin-right: 120px !important;
}

.m-r-n-120 {
    margin-right: -120px !important;
}

.m-b-120 {
    margin-bottom: 120px !important;
}

.m-b-n-120 {
    margin-bottom: -120px !important;
}

.m-l-120 {
    margin-left: 120px !important;
}

.m-l-n-120 {
    margin-left: -120px !important;
}

.m-125 {
    margin: 125px !important;
}

.m-n-125 {
    margin: -125px !important;
}

.m-v-125 {
    margin-right: 125px !important;
    margin-left: 125px !important;
}

.m-v-n-125 {
    margin-right: -125px !important;
    margin-left: -125px !important;
}

.m-h-125 {
    margin-top: 125px !important;
    margin-bottom: 125px !important;
}

.m-h-n-125 {
    margin-top: -125px !important;
    margin-bottom: -125px !important;
}

.m-t-125 {
    margin-top: 125px !important;
}

.m-t-n-125 {
    margin-top: -125px !important;
}

.m-r-125 {
    margin-right: 125px !important;
}

.m-r-n-125 {
    margin-right: -125px !important;
}

.m-b-125 {
    margin-bottom: 125px !important;
}

.m-b-n-125 {
    margin-bottom: -125px !important;
}

.m-l-125 {
    margin-left: 125px !important;
}

.m-l-n-125 {
    margin-left: -125px !important;
}

.m-130 {
    margin: 130px !important;
}

.m-n-130 {
    margin: -130px !important;
}

.m-v-130 {
    margin-right: 130px !important;
    margin-left: 130px !important;
}

.m-v-n-130 {
    margin-right: -130px !important;
    margin-left: -130px !important;
}

.m-h-130 {
    margin-top: 130px !important;
    margin-bottom: 130px !important;
}

.m-h-n-130 {
    margin-top: -130px !important;
    margin-bottom: -130px !important;
}

.m-t-130 {
    margin-top: 130px !important;
}

.m-t-n-130 {
    margin-top: -130px !important;
}

.m-r-130 {
    margin-right: 130px !important;
}

.m-r-n-130 {
    margin-right: -130px !important;
}

.m-b-130 {
    margin-bottom: 130px !important;
}

.m-b-n-130 {
    margin-bottom: -130px !important;
}

.m-l-130 {
    margin-left: 130px !important;
}

.m-l-n-130 {
    margin-left: -130px !important;
}

.m-135 {
    margin: 135px !important;
}

.m-n-135 {
    margin: -135px !important;
}

.m-v-135 {
    margin-right: 135px !important;
    margin-left: 135px !important;
}

.m-v-n-135 {
    margin-right: -135px !important;
    margin-left: -135px !important;
}

.m-h-135 {
    margin-top: 135px !important;
    margin-bottom: 135px !important;
}

.m-h-n-135 {
    margin-top: -135px !important;
    margin-bottom: -135px !important;
}

.m-t-135 {
    margin-top: 135px !important;
}

.m-t-n-135 {
    margin-top: -135px !important;
}

.m-r-135 {
    margin-right: 135px !important;
}

.m-r-n-135 {
    margin-right: -135px !important;
}

.m-b-135 {
    margin-bottom: 135px !important;
}

.m-b-n-135 {
    margin-bottom: -135px !important;
}

.m-l-135 {
    margin-left: 135px !important;
}

.m-l-n-135 {
    margin-left: -135px !important;
}

.m-140 {
    margin: 140px !important;
}

.m-n-140 {
    margin: -140px !important;
}

.m-v-140 {
    margin-right: 140px !important;
    margin-left: 140px !important;
}

.m-v-n-140 {
    margin-right: -140px !important;
    margin-left: -140px !important;
}

.m-h-140 {
    margin-top: 140px !important;
    margin-bottom: 140px !important;
}

.m-h-n-140 {
    margin-top: -140px !important;
    margin-bottom: -140px !important;
}

.m-t-140 {
    margin-top: 140px !important;
}

.m-t-n-140 {
    margin-top: -140px !important;
}

.m-r-140 {
    margin-right: 140px !important;
}

.m-r-n-140 {
    margin-right: -140px !important;
}

.m-b-140 {
    margin-bottom: 140px !important;
}

.m-b-n-140 {
    margin-bottom: -140px !important;
}

.m-l-140 {
    margin-left: 140px !important;
}

.m-l-n-140 {
    margin-left: -140px !important;
}

.m-145 {
    margin: 145px !important;
}

.m-n-145 {
    margin: -145px !important;
}

.m-v-145 {
    margin-right: 145px !important;
    margin-left: 145px !important;
}

.m-v-n-145 {
    margin-right: -145px !important;
    margin-left: -145px !important;
}

.m-h-145 {
    margin-top: 145px !important;
    margin-bottom: 145px !important;
}

.m-h-n-145 {
    margin-top: -145px !important;
    margin-bottom: -145px !important;
}

.m-t-145 {
    margin-top: 145px !important;
}

.m-t-n-145 {
    margin-top: -145px !important;
}

.m-r-145 {
    margin-right: 145px !important;
}

.m-r-n-145 {
    margin-right: -145px !important;
}

.m-b-145 {
    margin-bottom: 145px !important;
}

.m-b-n-145 {
    margin-bottom: -145px !important;
}

.m-l-145 {
    margin-left: 145px !important;
}

.m-l-n-145 {
    margin-left: -145px !important;
}

.m-150 {
    margin: 150px !important;
}

.m-n-150 {
    margin: -150px !important;
}

.m-v-150 {
    margin-right: 150px !important;
    margin-left: 150px !important;
}

.m-v-n-150 {
    margin-right: -150px !important;
    margin-left: -150px !important;
}

.m-h-150 {
    margin-top: 150px !important;
    margin-bottom: 150px !important;
}

.m-h-n-150 {
    margin-top: -150px !important;
    margin-bottom: -150px !important;
}

.m-t-150 {
    margin-top: 150px !important;
}

.m-t-n-150 {
    margin-top: -150px !important;
}

.m-r-150 {
    margin-right: 150px !important;
}

.m-r-n-150 {
    margin-right: -150px !important;
}

.m-b-150 {
    margin-bottom: 150px !important;
}

.m-b-n-150 {
    margin-bottom: -150px !important;
}

.m-l-150 {
    margin-left: 150px !important;
}

.m-l-n-150 {
    margin-left: -150px !important;
}

.p-0, .p-n-0 {
    padding: 0 !important;
}

.p-h-5, .p-t-5 {
    padding-top: 5px !important;
}

.p-r-5, .p-v-5 {
    padding-right: 5px !important;
}

.p-b-5, .p-h-5 {
    padding-bottom: 5px !important;
}

.p-l-5, .p-v-5 {
    padding-left: 5px !important;
}

.p-5 {
    padding: 5px !important;
}

.p-h-10, .p-t-10 {
    padding-top: 10px !important;
}

.p-r-10, .p-v-10 {
    padding-right: 10px !important;
}

.p-b-10, .p-h-10 {
    padding-bottom: 10px !important;
}

.p-l-10, .p-v-10 {
    padding-left: 10px !important;
}

.p-10 {
    padding: 10px !important;
}

.p-h-15, .p-t-15 {
    padding-top: 15px !important;
}

.p-r-15, .p-v-15 {
    padding-right: 15px !important;
}

.p-b-15, .p-h-15 {
    padding-bottom: 15px !important;
}

.p-l-15, .p-v-15 {
    padding-left: 15px !important;
}

.p-15 {
    padding: 15px !important;
}

.p-h-20, .p-t-20 {
    padding-top: 20px !important;
}

.p-r-20, .p-v-20 {
    padding-right: 20px !important;
}

.p-b-20, .p-h-20 {
    padding-bottom: 20px !important;
}

.p-l-20, .p-v-20 {
    padding-left: 20px !important;
}

.p-20 {
    padding: 20px !important;
}

.p-h-25, .p-t-25 {
    padding-top: 25px !important;
}

.p-r-25, .p-v-25 {
    padding-right: 25px !important;
}

.p-b-25, .p-h-25 {
    padding-bottom: 25px !important;
}

.p-l-25, .p-v-25 {
    padding-left: 25px !important;
}

.p-25 {
    padding: 25px !important;
}

.p-h-30, .p-t-30 {
    padding-top: 30px !important;
}

.p-r-30, .p-v-30 {
    padding-right: 30px !important;
}

.p-b-30, .p-h-30 {
    padding-bottom: 30px !important;
}

.p-l-30, .p-v-30 {
    padding-left: 30px !important;
}

.p-30 {
    padding: 30px !important;
}

.p-h-35, .p-t-35 {
    padding-top: 35px !important;
}

.p-r-35, .p-v-35 {
    padding-right: 35px !important;
}

.p-b-35, .p-h-35 {
    padding-bottom: 35px !important;
}

.p-l-35, .p-v-35 {
    padding-left: 35px !important;
}

.p-35 {
    padding: 35px !important;
}

.p-h-40, .p-t-40 {
    padding-top: 40px !important;
}

.p-r-40, .p-v-40 {
    padding-right: 40px !important;
}

.p-b-40, .p-h-40 {
    padding-bottom: 40px !important;
}

.p-l-40, .p-v-40 {
    padding-left: 40px !important;
}

.p-40 {
    padding: 40px !important;
}

.p-h-45, .p-t-45 {
    padding-top: 45px !important;
}

.p-r-45, .p-v-45 {
    padding-right: 45px !important;
}

.p-b-45, .p-h-45 {
    padding-bottom: 45px !important;
}

.p-l-45, .p-v-45 {
    padding-left: 45px !important;
}

.p-45 {
    padding: 45px !important;
}

.p-h-50, .p-t-50 {
    padding-top: 50px !important;
}

.p-r-50, .p-v-50 {
    padding-right: 50px !important;
}

.p-b-50, .p-h-50 {
    padding-bottom: 50px !important;
}

.p-l-50, .p-v-50 {
    padding-left: 50px !important;
}

.p-50 {
    padding: 50px !important;
}

.p-h-55, .p-t-55 {
    padding-top: 55px !important;
}

.p-r-55, .p-v-55 {
    padding-right: 55px !important;
}

.p-b-55, .p-h-55 {
    padding-bottom: 55px !important;
}

.p-l-55, .p-v-55 {
    padding-left: 55px !important;
}

.p-55 {
    padding: 55px !important;
}

.p-h-60, .p-t-60 {
    padding-top: 60px !important;
}

.p-r-60, .p-v-60 {
    padding-right: 60px !important;
}

.p-b-60, .p-h-60 {
    padding-bottom: 60px !important;
}

.p-l-60, .p-v-60 {
    padding-left: 60px !important;
}

.p-60 {
    padding: 60px !important;
}

.p-h-65, .p-t-65 {
    padding-top: 65px !important;
}

.p-r-65, .p-v-65 {
    padding-right: 65px !important;
}

.p-b-65, .p-h-65 {
    padding-bottom: 65px !important;
}

.p-l-65, .p-v-65 {
    padding-left: 65px !important;
}

.p-65 {
    padding: 65px !important;
}

.p-h-70, .p-t-70 {
    padding-top: 70px !important;
}

.p-r-70, .p-v-70 {
    padding-right: 70px !important;
}

.p-b-70, .p-h-70 {
    padding-bottom: 70px !important;
}

.p-l-70, .p-v-70 {
    padding-left: 70px !important;
}

.p-70 {
    padding: 70px !important;
}

.p-h-75, .p-t-75 {
    padding-top: 75px !important;
}

.p-r-75, .p-v-75 {
    padding-right: 75px !important;
}

.p-b-75, .p-h-75 {
    padding-bottom: 75px !important;
}

.p-l-75, .p-v-75 {
    padding-left: 75px !important;
}

.p-75 {
    padding: 75px !important;
}

.p-h-80, .p-t-80 {
    padding-top: 80px !important;
}

.p-r-80, .p-v-80 {
    padding-right: 80px !important;
}

.p-b-80, .p-h-80 {
    padding-bottom: 80px !important;
}

.p-l-80, .p-v-80 {
    padding-left: 80px !important;
}

.p-80 {
    padding: 80px !important;
}

.p-h-85, .p-t-85 {
    padding-top: 85px !important;
}

.p-r-85, .p-v-85 {
    padding-right: 85px !important;
}

.p-b-85, .p-h-85 {
    padding-bottom: 85px !important;
}

.p-l-85, .p-v-85 {
    padding-left: 85px !important;
}

.p-85 {
    padding: 85px !important;
}

.p-h-90, .p-t-90 {
    padding-top: 90px !important;
}

.p-r-90, .p-v-90 {
    padding-right: 90px !important;
}

.p-b-90, .p-h-90 {
    padding-bottom: 90px !important;
}

.p-l-90, .p-v-90 {
    padding-left: 90px !important;
}

.p-90 {
    padding: 90px !important;
}

.p-h-95, .p-t-95 {
    padding-top: 95px !important;
}

.p-r-95, .p-v-95 {
    padding-right: 95px !important;
}

.p-b-95, .p-h-95 {
    padding-bottom: 95px !important;
}

.p-l-95, .p-v-95 {
    padding-left: 95px !important;
}

.p-95 {
    padding: 95px !important;
}

.p-h-100, .p-t-100 {
    padding-top: 100px !important;
}

.p-r-100, .p-v-100 {
    padding-right: 100px !important;
}

.p-b-100, .p-h-100 {
    padding-bottom: 100px !important;
}

.p-l-100, .p-v-100 {
    padding-left: 100px !important;
}

.p-100 {
    padding: 100px !important;
}

.p-h-105, .p-t-105 {
    padding-top: 105px !important;
}

.p-r-105, .p-v-105 {
    padding-right: 105px !important;
}

.p-b-105, .p-h-105 {
    padding-bottom: 105px !important;
}

.p-l-105, .p-v-105 {
    padding-left: 105px !important;
}

.p-105 {
    padding: 105px !important;
}

.p-h-110, .p-t-110 {
    padding-top: 110px !important;
}

.p-r-110, .p-v-110 {
    padding-right: 110px !important;
}

.p-b-110, .p-h-110 {
    padding-bottom: 110px !important;
}

.p-l-110, .p-v-110 {
    padding-left: 110px !important;
}

.p-110 {
    padding: 110px !important;
}

.p-h-115, .p-t-115 {
    padding-top: 115px !important;
}

.p-r-115, .p-v-115 {
    padding-right: 115px !important;
}

.p-b-115, .p-h-115 {
    padding-bottom: 115px !important;
}

.p-l-115, .p-v-115 {
    padding-left: 115px !important;
}

.p-115 {
    padding: 115px !important;
}

.p-h-120, .p-t-120 {
    padding-top: 120px !important;
}

.p-r-120, .p-v-120 {
    padding-right: 120px !important;
}

.p-b-120, .p-h-120 {
    padding-bottom: 120px !important;
}

.p-l-120, .p-v-120 {
    padding-left: 120px !important;
}

.p-120 {
    padding: 120px !important;
}

.p-h-125, .p-t-125 {
    padding-top: 125px !important;
}

.p-r-125, .p-v-125 {
    padding-right: 125px !important;
}

.p-b-125, .p-h-125 {
    padding-bottom: 125px !important;
}

.p-l-125, .p-v-125 {
    padding-left: 125px !important;
}

.p-125 {
    padding: 125px !important;
}

.p-h-130, .p-t-130 {
    padding-top: 130px !important;
}

.p-r-130, .p-v-130 {
    padding-right: 130px !important;
}

.p-b-130, .p-h-130 {
    padding-bottom: 130px !important;
}

.p-l-130, .p-v-130 {
    padding-left: 130px !important;
}

.p-130 {
    padding: 130px !important;
}

.p-h-135, .p-t-135 {
    padding-top: 135px !important;
}

.p-r-135, .p-v-135 {
    padding-right: 135px !important;
}

.p-b-135, .p-h-135 {
    padding-bottom: 135px !important;
}

.p-l-135, .p-v-135 {
    padding-left: 135px !important;
}

.p-135 {
    padding: 135px !important;
}

.p-h-140, .p-t-140 {
    padding-top: 140px !important;
}

.p-r-140, .p-v-140 {
    padding-right: 140px !important;
}

.p-b-140, .p-h-140 {
    padding-bottom: 140px !important;
}

.p-l-140, .p-v-140 {
    padding-left: 140px !important;
}

.p-140 {
    padding: 140px !important;
}

.p-h-145, .p-t-145 {
    padding-top: 145px !important;
}

.p-r-145, .p-v-145 {
    padding-right: 145px !important;
}

.p-b-145, .p-h-145 {
    padding-bottom: 145px !important;
}

.p-l-145, .p-v-145 {
    padding-left: 145px !important;
}

.p-145 {
    padding: 145px !important;
}

.p-h-150, .p-t-150 {
    padding-top: 150px !important;
}

.p-r-150, .p-v-150 {
    padding-right: 150px !important;
}

.p-b-150, .p-h-150 {
    padding-bottom: 150px !important;
}

.p-l-150, .p-v-150 {
    padding-left: 150px !important;
}

.p-150 {
    padding: 150px !important;
}

.b-r-0 {
    border-radius: 0;
}

.b-r-1 {
    border-radius: 1px;
}

.b-r-2 {
    border-radius: 2px;
}

.b-r-3 {
    border-radius: 3px;
}

.b-r-4 {
    border-radius: 4px;
}

.b-r-5 {
    border-radius: 5px;
}

.b-r-6 {
    border-radius: 6px;
}

.b-r-7 {
    border-radius: 7px;
}

.b-r-8 {
    border-radius: 8px;
}

.b-r-9 {
    border-radius: 9px;
}

.b-r-10 {
    border-radius: 10px;
}

.b-c-blue {
    border-color: #2b66b9;
}

.b-c-green {
    border-color: #7bc520;
}

.b-c-red {
    border-color: #da291c;
}

.b-c-pink {
    border-color: #f51d58;
}

.b-c-orange, .b-c-yellow {
    border-color: #f5a623;
}

.b-c-purple {
    border-color: #7f3f98;
}

.b-c-darker-gray {
    border-color: #272f36;
}

.b-c-dark-gray {
    border-color: #55626c;
}

.b-c-gray {
    border-color: #c2c8ce;
}

.b-c-black {
    border-color: #000;
}

.b-c-white {
    border-color: #fff;
}

.b-c-light-gray {
    border-color: #e9e9e9;
}

.b-s-n {
    border-style: none;
}

.b-s-s {
    border-style: solid;
}

.b-s-da {
    border-style: dashed;
}

.b-s-do {
    border-style: dotted;
}

.b-s-db {
    border-style: double;
}

.b-s-in {
    border-style: inset;
}

.b-s-out {
    border-style: outset;
}

.b-w-1 {
    border-width: 1px !important;
}

.b-w-2 {
    border-width: 2px !important;
}

.b-w-3 {
    border-width: 3px !important;
}

.b-w-4 {
    border-width: 4px !important;
}

.b-w-5 {
    border-width: 5px !important;
}

.b-w-t-1 {
    border-top-width: 1px !important;
}

.b-w-t-2 {
    border-top-width: 2px !important;
}

.b-w-t-3 {
    border-top-width: 3px !important;
}

.b-w-t-4 {
    border-top-width: 4px !important;
}

.b-w-t-5 {
    border-top-width: 5px !important;
}

.b-w-t-n {
    border-top: none !important;
}

.b-w-r-1 {
    border-right-width: 1px !important;
}

.b-w-r-2 {
    border-right-width: 2px !important;
}

.b-w-r-3 {
    border-right-width: 3px !important;
}

.b-w-r-4 {
    border-right-width: 4px !important;
}

.b-w-r-5 {
    border-right-width: 5px !important;
}

.b-w-r-n {
    border-right: none !important;
}

.b-w-b-1 {
    border-bottom-width: 1px !important;
}

.b-w-b-2 {
    border-bottom-width: 2px !important;
}

.b-w-b-3 {
    border-bottom-width: 3px !important;
}

.b-w-b-4 {
    border-bottom-width: 4px !important;
}

.b-w-b-5 {
    border-bottom-width: 5px !important;
}

.b-w-b-n {
    border-bottom: none !important;
}

.b-w-l-1 {
    border-left-width: 1px !important;
}

.b-w-l-2 {
    border-left-width: 2px !important;
}

.b-w-l-3 {
    border-left-width: 3px !important;
}

.b-w-l-4 {
    border-left-width: 4px !important;
}

.b-w-l-5 {
    border-left-width: 5px !important;
}

.b-w-l-n {
    border-left: none !important;
}

.col-centered {
    float: none!important;
    margin: 0 auto;
}

.col-centered-inline, .col-centered-inline-bot {
    display: inline-block;
    float: none;
    margin-right: -4px;
}

.col-centered-inline {
    text-align: left;
}

.col-centered-inline-bot {
    vertical-align: bottom;
}

.col-centered-v {
    position: relative;
}

.col-centered-v-a {
    position: absolute;
}
